{% extends 'base.html.twig' %}

{% set bodyClass = 'page_sitemap' %}
{% set menuItem = 'page_sitemap' %}

{% block title %}{{ 'page.sitemap.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.sitemap.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.sitemap.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <ul data-widget="tree">
        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        <li>
            <a href="{{ path('reporting_dashboard_index') }}">
                <span>{{ 'sidebar_menu.dashboard'|trans }}</span>
            </a>
            <ul>
                {% if app_activate_notifications %}
                    <li><a href="{{ path('notification_notification_list') }}">Centre de notifications</a></li>
                {% endif %}
                <li><a href="{{ path('registry_treatment_list') }}">
                    <span>Liste des traitements (Actif)</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('registry_treatment_list', {'active' : 'false'}) }}">
                            <span>Liste des traitements (Inactif)</span>
                        </a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('registry_treatment_configuration') }}">
                                <span>{{ 'sidebar_menu.configuration_treatments'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
                <li><a href="{{ path('registry_contractor_list') }}">
                    <span>Liste des sous-traitants</span>
                </a></li>
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleTools == true %}
                    <li><a href="{{ path('registry_tool_list') }}">
                            <span>Liste des logiciels et supports</span>
                        </a></li>
                {% endif %}
                <li><a href="{{ path('registry_request_list') }}">
                    <span>Liste des demandes (Non archivés)</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('registry_request_list', {'archive' : 'true'}) }}">
                            <span>Liste des demandes (Archivés)</span>
                        </a></li>
                    </ul>
                </li>
                <li><a href="{{ path('registry_violation_list') }}">
                    <span>Liste des violations (Non archivés)</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('registry_violation_list', {'archive' : 'true'}) }}">
                            <span>Liste des violations (Archivés)</span>
                        </a></li>
                    </ul>
                </li>
                <li><a href="{{ path('registry_proof_list') }}">
                    <span>Liste des preuves (Non archivés)</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('registry_proof_list', {'archive' : 'true'}) }}">
                            <span>Liste des preuves (Archivés)</span>
                        </a></li>
                    </ul>
                </li>
                <li><a href="{{ path('registry_mesurement_list') }}">
                    <span>Liste des actions de protection</span>
                </a></li>
                <li><a href="{{ path('registry_mesurement_action_plan') }}">
                    <span>Plan d'actions</span>
                </a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('aipd_modele_analyse_list') }}">
                            Liste des modèles d'analyse
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('aipd_mesure_protection_list') }}">
                            <span>Liste des mesures de protection</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement == true %}
                    <li>
                        <a href="{{ path('aipd_analyse_impact_list') }}">
                            <span>{{ 'sidebar_menu.aipd_analyse_impact'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('maturity_survey_list') }}">
                        <span>Liste des indices de maturité</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('maturity_referentiel_list') }}">
                            <span>{{ 'sidebar_menu.maturity_referentiel'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement %}
                <li>
                    <a href="{{ path('registry_conformite_traitement_list') }}">
                        <span>{{ 'sidebar_menu.conformite_traitements'|trans }}</span>
                    </a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteOrganisation %}
                    <li>
                        <a href="{{ path('registry_conformite_organisation_list') }}">
                            <span>{{ 'sidebar_menu.conformite_structure'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('documentation_document_index') }}">
                        <span>{{ 'sidebar_menu.documentation'|trans }}</span>
                    </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <ul>
                        <li><a href="{{ path('documentation_category_list') }}">
                            {{ 'documentation.category.action.list'|trans }}
                        </a>
                    </li>
                    </ul>
                {% endif %}
                </li>
                {% if is_granted('ROLE_REFERENT') %}
                    {# Referent is not allowed to duplicate#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_duplication_new') }}">
                                <span>{{ 'sidebar_menu.admin_duplication'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('user_collectivity_list') }}">
                            Liste des structures
                        </a>
                        <ul>
                            <li {% if menuItem == 'user_profile_collectivity' %}class="active"{% endif %}>
                                <a href="{{ path('user_profile_collectivity_show') }}">
                                    <span>{{ 'sidebar_menu.user_profile_collectivity'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('user_user_list') }}">
                            Liste des utilisateurs (Non archivés)
                        </a>
                        <ul>
                            <li>
                                <a href="{{ path('user_user_list', {'archive' : 'true'}) }}">
                                    Liste des utilisateurs (Archivés)
                                </a>
                            </li>
                            <li {% if menuItem == 'user_profile_user' %}class="active"{% endif %}>
                                <a href="{{ path('user_profile_user_edit') }}">
                                    <span>{{ 'sidebar_menu.user_profile_user'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REFERENT')%}
                    <li {% if menuItem == 'user_profile_collectivity' %}class="active"{% endif %}>
                        <a href="{{ path('user_profile_collectivity_show') }}">
                            <span>{{ 'sidebar_menu.user_profile_collectivity'|trans }}</span>
                        </a>
                    </li>
                    <li {% if menuItem == 'user_profile_user' %}class="active"{% endif %}>
                        <a href="{{ path('user_profile_user_edit') }}">
                            <span>{{ 'sidebar_menu.user_profile_user'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('reporting_journalisation_index') }}">
                            <span>{{ 'sidebar_menu.reporting_journalisation'|trans }} des actions</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('page_declaration') }}">{{ 'page.declaration.title'|trans }}</a>
                    <ul>
                        <li>
                            <a href="{{ path('page_schema_pluriannuel_2022_2024') }}">{{ 'page.schema_pluriannuel_2022_2024.title'|trans }}</a>
                            <ul>
                                <li><a href="{{ path('page_plan_annuel_2022') }}">{{ 'page.plan_annuel_2022.title'|trans }}</a></li>
                                <li><a href="{{ path('page_plan_annuel_2023') }}">{{ 'page.plan_annuel_2023.title'|trans }}</a></li>
                                <li><a href="{{ path('page_plan_annuel_2024') }}">{{ 'page.plan_annuel_2024.title'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('page_credit') }}">{{ 'page.credit.title'|trans }}</a></li>
                <li><a href="{{ path('page_sitemap') }}">{{ 'page.sitemap.title'|trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
