{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_conformite_traitement list' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'registry.conformite_traitement.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.conformite_traitement.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.conformite_traitement.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    <a aria-label="{{ 'registry.conformite_traitement.action.report'|trans }}" href="{{ path('registry_conformite_traitement_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.conformite_traitement.action.report'|trans }}
                    </a>
                    {% if category and category.documents|length > 0 %}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.traitement'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'registry.conformite_traitement.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'registry.conformite_traitement.list.gestionnaire'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.conformite'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.conformite_reponse'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.date_conformite'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.avis_aipd'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_traitement.list.date_aipd'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th scope="col">{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                            {% set conformiteTraitement = object.conformiteTraitement %}
                            {% set planifiedMesurementToBeNotified = [] %}
                            {% set analyseImpact = null %}
                            {% if conformiteTraitement is not null %}
                                {% set planifiedMesurementToBeNotified = getPlanifiedMesurements(conformiteTraitement) %}
                                {% set nbTotal = conformiteTraitement.nbConformes + conformiteTraitement.nbNonConformesMineures + conformiteTraitement.nbNonConformesMajeures %}
                                {% set widthNbConforme = nbTotal > 0 ? ((conformiteTraitement.nbConformes * 100) / nbTotal)|round : 0 %}
                                {% set widthnbNonConformesMineures = nbTotal > 0 ? ((conformiteTraitement.nbNonConformesMineures * 100) / nbTotal)|round : 0 %}
                                {% set widthnbNonConformesMajeures = 100 - (widthNbConforme + widthnbNonConformesMineures) %}
                                {% set conformiteBackgroundColor = getConformiteLevelWeight(conformiteTraitement) %}
                                {% if conformiteTraitement.analyseImpacts is not empty %}
                                    {% set analyseImpact = getLastAnalyseImpact(conformiteTraitement) %}
                                {% endif %}
                            {% endif %}
                            <tr>
                                <td>
                                    {% if planifiedMesurementToBeNotified is not empty %}
                                        <div class="mesurement-hide">
                                            <i aria-hidden="true" class="primary-i fas fa-exclamation-circle"></i>
                                            <div class="primary">
                                                <span>Action de protections appliquées : </span>
                                                <ul>
                                                    {% for mesurement in planifiedMesurementToBeNotified %}
                                                        <li>{{ mesurement.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if conformiteTraitement and conformiteTraitement.needsAipd and analyseImpact is null %}
                                        <div>
                                            <i aria-hidden="true" class="fa fa-exclamation-triangle" title="Une AIPD doit être réalisée sur ce traitement." style="color:#f39c12;"></i>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ object.name }}</td>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <td>{{ object.collectivity }}</td>
                                {% endif %}
                                <td>{{ object.manager }}</td>
                                {% if conformiteTraitement is not null and conformiteBackgroundColor is defined %}
                                    <td>
                                        <span style="display: none;">{{ conformiteBackgroundColor }}</span>
                                        {% set labelConforme = 'Conforme' %}
                                        {% set labelNonConformeMineure = 'Non-conforme mineure' %}
                                        {% set labelNonConformeMajeure = 'Non-conforme majeure' %}

                                        {% set labelConformiteColor = 'label-danger' %}
                                        {% set labelConformite = labelNonConformeMajeure %}
                                        {% if conformiteBackgroundColor == 1 %}
                                            {% set labelConformiteColor = 'label-success' %}
                                            {% set labelConformite = labelConforme %}
                                        {% elseif conformiteBackgroundColor == 2 %}
                                            {% set labelConformiteColor = 'label-warning' %}
                                            {% set labelConformite = labelNonConformeMineure %}
                                        {% endif %}
                                        <span class="label {{ labelConformiteColor }}" style="min-width: 100%; display: inline-block;">{{ labelConformite }}</span>
                                    </td>
                                {% else %}
                                 <td></td>
                                {% endif %}
                                <td>
                                    {% if conformiteTraitement is not null %}
                                        <div class="stacked-bar-graph">
                                            {% if widthNbConforme %}<span style="width:{{ widthNbConforme }}%" class="bar-conforme tooltipchart"><span class="tooltipcharttext">{{ labelConforme }} : {{ conformiteTraitement.nbConformes }}</span></span>{% endif %}
                                            {% if widthnbNonConformesMineures %}<span style="width:{{ widthnbNonConformesMineures }}%" class="bar-non-conforme-mineure tooltipchart"><span class="tooltipcharttext">{{ labelNonConformeMineure }} : {{ conformiteTraitement.nbNonConformesMineures }}</span></span>{% endif %}
                                            {% if widthnbNonConformesMajeures %}<span style="width:{{ widthnbNonConformesMajeures }}%" class="bar-non-conforme-majeure tooltipchart"><span class="tooltipcharttext">{{ labelNonConformeMajeure }} : {{ conformiteTraitement.nbNonConformesMajeures }}</span></span>{% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{% if conformiteTraitement is not null %}{{ conformiteTraitement.updatedAt|date('d/m/Y') }}{% else %}<span style="visibility: hidden">01/01/1970</span>{% endif %}</td>
                                <td>
                                    {% set statut = "non_realisee" %}
                                    {% set labelAipdColor = "label-default" %}
                                    {% if conformiteTraitement is not null and analyseImpact is not null %}
                                        {% if analyseImpact.statut == "defavorable" %}

                                            {% set labelAipdColor = "label-danger" %}
                                        {% elseif analyseImpact.statut == "favorable_reserve" %}
                                            {% set labelAipdColor = "label-warning" %}
                                        {% elseif analyseImpact.statut == "favorable" %}
                                            {% set labelAipdColor = "label-success" %}
                                        {% endif %}
                                        {% set statut = analyseImpact.statut %}
                                    {% endif %}

                                    {% set labelStatut = "aipd.analyse_impact.values." ~ statut %}
                                    <span class="label {{ labelAipdColor }}" style="min-width: 100%; display: inline-block;">
                                            {{ labelStatut|trans}}
                                        </span>
                                </td>
                                <td>
                                    {% if conformiteTraitement is not null and analyseImpact is not null %}
                                        {{ (conformiteTraitement.analyseImpacts|first).dateValidation|date('d/m/Y') }}
                                    {% else %}
                                        <span style="visibility: hidden">01/01/1970</span>
                                    {% endif %}
                                </td>
                                {% if is_granted('ROLE_USER') and ((services_user is empty) or ((object.service is defined) and (object.service in services_user)))%}
                                    <td>
                                        <a aria-label="{{ 'registry.conformite_traitement.action.show_conformite_traitement'|trans }}" href="{% if conformiteTraitement is null %}{{ path('registry_conformite_traitement_create', {'idTraitement': object.id}) }}{% else %}{{ path('registry_conformite_traitement_edit', {'id': conformiteTraitement.id}) }}{% endif %}">
                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                            {{ 'registry.conformite_traitement.action.show_conformite_traitement'|trans }}
                                        </a>
                                        {% if conformiteTraitement is not null %}
                                            {% if analyseImpact is not null %}
                                                <a aria-label="{{ 'aipd.analyse_impact.action.edit'|trans }}" href="{{ path('aipd_analyse_impact_edit', {'id': analyseImpact.id}) }}">
                                                    <i aria-hidden="true" class="fa fa-chalkboard-teacher"></i>
                                                    {{ 'aipd.analyse_impact.action.edit'|trans }}
                                                </a>
                                            {% else %}
                                                {% if not conformiteTraitement.traitement.ExemptAIPD and analyseImpact is null %}
                                                    <a aria-label="{{ 'aipd.analyse_impact.action.create'|trans }}" href="{{ path('registry_conformite_traitement_start_aipd', {'id': conformiteTraitement.id}) }}">
                                                        <i aria-hidden="true" class="fa fa-chalkboard-teacher"></i>
                                                        {{ 'aipd.analyse_impact.action.create'|trans }}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set dataTableOptions = {
            'order':  [[1, 'asc' ]],
            'columnDefs': [
                {'targets': 0, 'width': 1, className: "noVis"},
                {'targets': 4, 'width': 1},
                {'targets': 5, 'orderable': false},
                {'targets': 6, 'width': '10%'},
                {'targets': 7,},
                {'targets': 9, 'orderable': false, className: "noVis"}
            ]
        } %}
    {% else %}
        {% set dataTableOptions = {
            'order':  [[1, 'asc' ]],
            'columnDefs': [
                {'targets': 0, 'width': 1, className: "noVis"},
                {'targets': 3, 'width': 1},
                {'targets': 4, 'orderable': false},
                {'targets': 5, 'width': '10%'},
                {'targets': 6},
                {'targets': 8, 'orderable': false, className: "noVis"}
            ]
        } %}
    {% endif %}

    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}

{% block style %}
    <style>
        .stacked-bar-graph .tooltipchart {
            position: relative;
        }

        .tooltipchart .tooltipcharttext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            height: 30px;
            display: block;
            position: absolute;
            z-index: 2;
            top: 120%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        .tooltipchart:hover .tooltipcharttext {
            visibility: visible;
        }

        .tooltipchart .tooltipcharttext::after {
            content: " ";
            position: absolute;
            bottom: 100%;  /* At the top of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    </style>
{% endblock %}
