{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_proof list' %}
{% set menuItem = 'registry_proof' %}

{% block title %}{{ 'registry.proof.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.proof.title.list'|trans }}
        <small>
            {% if app.request.query.get('archive') == 'true' %}
                {{ 'label.archived'|trans }}
            {% else %}
                {{ 'label.not_archived'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.proof.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'registry.proof.action.new'|trans }}" href="{{ path('registry_proof_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.proof.action.new'|trans }}
                    </a>
                    {% endif %}
                    {#<a href="{{ path('registry_proof_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.proof.action.report'|trans }}
                    </a>#}
                    {% if app.request.query.get('archive') == 'true' %}
                        <a aria-label="{{ 'registry.proof.action.not_archived'|trans }}" href="{{ path('registry_proof_list', {'archive' : 'false'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-archive"></i>
                            {{ 'registry.proof.action.not_archived'|trans }}
                        </a>
                    {% else %}
                        <a aria-label="{{ 'registry.proof.action.archived'|trans }}" href="{{ path('registry_proof_list', {'archive' : 'true'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-archive"></i>
                            {{ 'registry.proof.action.archived'|trans }}
                        </a>
                    {% endif %}
                    {% if category and category.documents|length > 0 %}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                    {% if app.request.query.get('archive') != 'true' %}
                        <a aria-label="{{ 'registry.proof.action.download'|trans }}" href="{{ path('registry_proof_download_all') }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-download"></i>
                            {{ 'registry.proof.action.download'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                                </th>
                            {% endif %}
                            <th scope="col">
                                <select class="form-control" id="search_type" style="width: 100%;">
                                    <option value="">Type</option>
                                    {% for key, subject in dictionary('registry_proof_type') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_commentaire" placeholder="Commentaire" style="width: 100%;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'registry.proof.list.name'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'registry.proof.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'registry.proof.list.type'|trans }}</th>
                            <th scope="col">{{ 'registry.proof.list.comment'|trans }}</th>
                            <th scope="col">{{ 'registry.proof.list.created_at'|trans }}</th>
                            <th scope="col">{{ 'registry.proof.list.updated_at'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% set cols = [
        {"data": "nom"},
        {"data": "type"},
        {"data": "commentaire"},
        {"data": "date"},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis", "orderable": false},
    ] %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "nom"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "type"},
            {"data": "commentaire"},
            {"data": "date", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "orderable": false},
        ] %}
    {% endif %}

    {% set dataTableOptions = {
        columns: cols,
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();
            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });


            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column(0).search($(this).val()).draw() ;
            }));

            {% if is_granted('ROLE_REFERENT') %}
            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column(1).search($(this).val()).draw() ;
            }));
            {% endif %}

            $('#search_type').off('change');
            $('#search_type').change(function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            });

            $('#search_commentaire').off('keyup');
            $('#search_commentaire').keyup($.debounce(250, function(){
                oTable.column(col + 2).search($(this).val()).draw() ;
            }));

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 3).search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
