{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_tool list' %}
{% set menuItem = 'registry_tool' %}

{% block title %}{{ 'registry.tool.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.tool.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.tool.breadcrumb.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('registry_tool_create') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    {{ 'registry.tool.action.new'|trans }}
                </a>
                {% endif %}
                {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a href="{{ path('registry_tool_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.treatment.action.report'|trans }}
                    </a>
                {% endif %}

                {% if category is defined and category and category.documents|length > 0 %}
                    <a href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                        <i aria-hidden="true" class="fa fa-circle-info"></i>
                        {{ 'documentation.document.link.button'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body" style="overflow-y:visible">
                    <div id="custom-buttons" style="z-index: 9999">

                    </div>
                    <div style="overflow-x: scroll;clear:both">
                        <table id="table" class="table table-bordered table-hover" style="clear: both;">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                                </th>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <th scope="col" >
                                        <input class="form-control" type="text" id="search_collectivity" placeholder="Structure" style="width: 100%;">
                                    </th>
                                {% endif %}
                                <th scope="col" >
                                    <select class="form-control" id="search_type" style="width: 100%;">
                                        <option value="">Type</option>
                                        {% for key, subject in dictionary('registry_tool_type') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col" >
                                    <input class="form-control" type="text" id="search_editor" placeholder="Éditeur" style="width: 100%;">
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_archival" style="width: 100%;">
                                        <option value="">Archivage</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_encrypted" style="width: 100%;">
                                        <option value="">Chiffrement</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_access_control" style="width: 100%;">
                                        <option value="">Contrôle d'accès</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_update" style="width: 100%;">
                                        <option value="">Mise à jour</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_backup" style="width: 100%;">
                                        <option value="">Sauvegarde</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_deletion" style="width: 100%;">
                                        <option value="">Suppression</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_tracking" style="width: 100%;">
                                        <option value="">Traçabilité</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_has_comment" style="width: 100%;">
                                        <option value="">A un commentaire</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <select class="form-control" id="search_other" style="width: 100%;">
                                        <option value="">Autres</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </th>
                                <th scope="col" >
                                    <input class="form-control" type="text" id="search_treatment" placeholder="Traitement" style="width: 100%;">
                                </th>
                                <th scope="col" >
                                    <input class="form-control" type="text" id="search_contractor" placeholder="Sous-traitant" style="width: 100%;">
                                </th>
                                <th scope="col" >
                                    <input class="form-control" type="text" id="search_document" placeholder="Document" style="width: 100%;">
                                </th>
                                <th scope="col" >
                                    <input class="form-control" type="text" id="search_action" placeholder="Action de protection" style="width: 100%;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                                </th>
                                <th scope="col" ></th>
                            </tr>
                            <tr>
                                <th scope="col" >{{ 'registry.tool.list.name'|trans }}</th>
                                {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col" >{{ 'registry.tool.list.collectivity'|trans }}</th>
                                {% endif %}
                                <th scope="col" >{{ 'registry.tool.list.type'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.editor'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.archival'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.encrypted'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.access_control'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.update'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.backup'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.deletion'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.tracking'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.has_comment'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.other'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.treatments'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.contractors'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.proofs'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.mesurements'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.created_at'|trans }}</th>
                                <th scope="col" >{{ 'registry.tool.list.updated_at'|trans }}</th>
                                {% if is_granted('ROLE_USER') %}
                                    <th scope="col" >{{ 'label.actions'|trans }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = false %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% set actionIsVisible = true %}
    {% endif %}
    {% if is_granted('ROLE_REFERENT') %}
    {% set dataTableOptions = {
        columns: [
            {"data": "name", "className": "noVis"},
            {"data": "collectivity", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "type"},
            {"data": "editor", "visible": false},
            {"data": "archival"},
            {"data": "encrypted"},
            {"data": "access_control", "visible": false},
            {"data": "update"},
            {"data": "backup"},
            {"data": "deletion", "visible": false},
            {"data": "tracking", "visible": false},
            {"data": "has_comment", "visible": false},
            {"data": "other"},
            {"data": "treatments", "visible": false},
            {"data": "contractors", "visible": false},
            {"data": "proofs", "visible": false},
            {"data": "mesurements", "visible": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "orderable": false, "className": "noVis action", "visible": actionIsVisible},
        ],
        order:  [
            [0, 'desc' ]
        ],
    } %}
    {%  else %}
    {% set dataTableOptions = {
        columns: [
            {"data": "name", "className": "noVis"},
            {"data": "type"},
            {"data": "editor", "visible": false},
            {"data": "archival"},
            {"data": "encrypted"},
            {"data": "access_control", "visible": false},
            {"data": "update"},
            {"data": "backup"},
            {"data": "deletion", "visible": false},
            {"data": "tracking", "visible": false},
            {"data": "has_comment", "visible": false},
            {"data": "other"},
            {"data": "treatments", "visible": false, "orderable": false},
            {"data": "contractors", "visible": false, "orderable": false},
            {"data": "proofs", "visible": false, "orderable": false},
            {"data": "mesurements", "visible": false, "orderable": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "orderable": false, "className": "noVis action", "visible": actionIsVisible},
        ],
        order:  [
            [0, 'desc' ]
        ],
    } %}
    {% endif %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}


    <script>
        function setEvents() {
            var col = 0
            {% if is_granted('ROLE_REFERENT') %}
            col = 1
            {% endif %}
            $('#table_filter').hide();
            var oTable = $('#table').DataTable();
            $('input#search_created_at').val('');
            $('input#search_updated_at').val('');
            $('#table').on( 'column-visibility.dt', function ( e, settings, column, state ) {
                console.log('column', column)
                if (column === 16+col && state) {
                    $('input#search_created_at').val('');
                }
                if (column === 17+col && state) {
                    $('input#search_updated_at').val('');
                }
            } );

            // Move buttons
            var btns = $('.dt-buttons')
            $('#custom-buttons').append(btns)

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));
            {% if is_granted('ROLE_REFERENT') %}
            $('#search_collectivity').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            {% endif %}
            $('#search_type').change(function(){
                oTable.column(1+col).search($(this).val()).draw() ;
            });
            $('#search_editor').keyup($.debounce(250, function(){
                oTable.column(2+col).search($(this).val()).draw() ;
            }));
            $('#search_archival').change(function(){
                oTable.column(3+col).search($(this).val()).draw() ;
            });
            $('#search_encrypted').change(function(){
                oTable.column(4+col).search($(this).val()).draw() ;
            });
            $('#search_access_control').change(function(){
                oTable.column(5+col).search($(this).val()).draw() ;
            });
            $('#search_update').change(function(){
                oTable.column(6+col).search($(this).val()).draw() ;
            });
            $('#search_backup').change(function(){
                oTable.column(7+col).search($(this).val()).draw() ;
            });
            $('#search_deletion').change(function(){
                oTable.column(8+col).search($(this).val()).draw() ;
            });
            $('#search_tracking').change(function(){
                oTable.column(9+col).search($(this).val()).draw() ;
            });
            $('#search_has_comment').change(function(){
                oTable.column(10+col).search($(this).val()).draw() ;
            });
            $('#search_other').change(function(){
                oTable.column(11+col).search($(this).val()).draw() ;
            });
            $('#search_treatment').keyup($.debounce(250, function(){
                oTable.column(12+col).search($(this).val()).draw() ;
            }));
            $('#search_contractor').keyup($.debounce(250, function(){
                oTable.column(13+col).search($(this).val()).draw() ;
            }));
            $('#search_document').keyup($.debounce(250, function(){
                oTable.column(14+col).search($(this).val()).draw() ;
            }));
            $('#search_action').keyup($.debounce(250, function(){
                oTable.column(15+col).search($(this).val()).draw() ;
            }));
            $(document).on('change', '#search_created_at', function(){
                console.log('createdat changed',$(this).val() )
                oTable.column(16+col).search($(this).val()).draw();
            });
            $(document).on('change', '#search_updated_at', function(){
                console.log('updatedat changed',$(this).val() )
                oTable.column(17+col).search($(this).val()).draw();
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em"));
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>
{% endblock %}
