{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_tool show' %}
{% set menuItem = 'registry_tool' %}

{% block title %}{{ 'registry.tool.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.tool.title.show'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.tool.breadcrumb.list'|trans, 'link': path('registry_tool_list') },
        { 'name': 'registry.tool.breadcrumb.show'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                <a href="{{ path('registry_tool_list') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    {{ 'registry.tool.action.back_to_list'|trans }}
                </a>
                <a href="{{ path('registry_tool_edit', {'id': object.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-pencil"></i>
                    {{ 'action.edit'|trans }}
                </a>
                <a href="{{ path('registry_tool_pdf', {'id': object.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-print"></i>
                    {{ 'action.print'|trans }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL INFORMATIONS #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.tool.tab.general'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.name'|trans }}</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.type'|trans }}</strong></td>
                            <td>{{ object.type|dictionary('registry_tool_type') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.description'|trans }}</strong></td>
                            <td>{{ object.description|nl2br }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.editor'|trans }}</strong></td>
                            <td>{{ object.editor }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.contractors'|trans }}</strong></td>
                            <td>{{ object.contractors|map(c => c.name)|join(', ') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.prod_date'|trans }}</strong></td>
                            <td>{{ object.prodDate|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.country_type'|trans }}</strong></td>
                            <td>
                                {{ object.countryType|trans }}
                            </td>
                        </tr>
                        {% if object.countryType != 'registry.tool.country.france'  %}
                        <tr>
                            <td><strong>Nom du pays</strong></td>
                            <td>
                                {{ object.countryName}}
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.countryType != 'registry.tool.country.france' and object.countryType != 'registry.tool.country.eu'  %}
                            <tr>
                                <td><strong>{{ 'registry.tool.form.country_guarantees'|trans }}</strong></td>
                                <td>
                                    {{ object.countryGuarantees}}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'registry.tool.show.manager'|trans }}</strong></td>
                            <td>{{ object.manager }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.other_info'|trans }}</strong></td>
                            <td>{{ object.otherInfo|nl2br }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.tool.tab.historic'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td><strong>{{ 'registry.tool.show.collectivity'|trans }}</strong></td>
                                <td>
                                    <a href="{{ path('user_collectivity_show', {'id': object.collectivity.id }) }}">
                                        {{ object.collectivity }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'registry.tool.show.created_at'|trans }}</strong></td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.show.updated_at'|trans }}</strong></td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.contractor.show.updated_by'|trans }}</strong></td>
                            <td>{{ object.updatedBy }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# Mesures de securite et confidentialite #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.tool.tab.measures'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.archival'|trans }}</strong></td>
                            <td>
                                {% if object.archival.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.archival.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.encrypted'|trans }}</strong></td>
                            <td>
                                {% if object.encrypted.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.encrypted.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.access_control'|trans }}</strong></td>
                            <td>
                                {% if object.accessControl.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.accessControl.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.update'|trans }}</strong></td>
                            <td>
                                {% if object.update.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.update.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.backup'|trans }}</strong></td>
                            <td>
                                {% if object.backup.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.backup.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.deletion'|trans }}</strong></td>
                            <td>
                                {% if object.deletion.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.deletion.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.tracking'|trans }}</strong></td>
                            <td>
                                {% if object.tracking.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.tracking.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.has_comment'|trans }}</strong></td>
                            <td>
                                {% if object.hasComment.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.hasComment.comment }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.tool.form.other'|trans }}</strong></td>
                            <td>
                                {% if object.other.check == true %}
                                    <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ object.other.comment }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            {# PROOFS #}
            {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}

            {# CONTRACTORS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_contractors'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.contractors and object.contractors |length %}
                        <ul>
                            {% for contractor in object.contractors %}
                                <li><a href="{{ path('registry_contractor_show', {id: contractor.id}) }}">
                                        {{ contractor|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_contractors'|trans }}
                    {% endif %}
                </div>
            </div>

            {# TREATMENTS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_treatment'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.treatments and object.treatments |length %}
                        <ul>
                            {% for treatment in object.treatments %}
                                <li><a href="{{ path('registry_treatment_show', {id: treatment.id}) }}">
                                        {{ treatment|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_treatment'|trans }}
                    {% endif %}
                </div>
            </div>


            {# Mesurements #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_mesurements'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.mesurements and object.mesurements |length %}
                        <ul>
                            {% for mesurement in object.mesurements %}
                                <li><a href="{{ path('registry_mesurement_show', {id: mesurement.id}) }}">
                                        {{ mesurement|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_mesurements'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
