{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('user.collectivity.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('user.collectivity.action.new_submit'|trans) %}
{% endif %}

{% import _self as formMacros %}

{% macro printService(service) %}
    <div class="js-collection-item">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title"></div>
                <div class="box-tools pull-right">
                    <button aria-label="Supprimer le service" title="Supprimer le service" class="btn btn-box-tool js-remove-item" data-toggle="tooltip">
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {{ form_errors(service) }}
                {{ form_widget(service) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printComiteIlContact(contact) %}
    <div class="js-collection-item">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title"></div>
                <div class="box-tools pull-right">
                    <button aria-label="Supprimer le membre" title="Supprimer le membre" class="btn btn-box-tool js-remove-item" data-toggle="tooltip">
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {{ form_errors(contact) }}
                {{ form_widget(contact) }}
            </div>
        </div>
    </div>
{% endmacro %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.shortName) }}
                {{ form_row(form.type) }}
                {{ form_row(form.siren) }}
                {{ form_row(form.finessGeo) }}
                {{ form_row(form.active) }}
                {{ form_row(form.website) }}
                {{ form_row(form.hasModuleConformiteTraitement) }}
                {{ form_row(form.hasModuleConformiteOrganisation) }}
                {{ form_row(form.hasModuleTools) }}
                {{ form_row(form.nbrAgents) }}
                {{ form_row(form.population) }}
                {{ form_row(form.informationsComplementaires) }}
            </div>
        </div>

        {# LEGAL MANAGER #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.legal_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.legalManager) }}
            </div>
        </div>

        {# DPO #}
        <div id="box-dpo" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.dpo'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.nbrCnil) }}
                {{ form_row(form.differentDpo) }}
                {{ form_widget(form.dpo) }}
            </div>
        </div>

        {# REPORTING MANAGEMENT COMMITMENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.management_commitment'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.reportingBlockManagementCommitment) }}
            </div>
        </div>

        {# SERVICES TODO #}
        {% do form.services.setRendered() %}
        <div class="box box-solid" id="box-services">
            <div class="box-header with-border"><h3 class="box-title"> {{ form_widget(form.isServicesEnabled) }}</h3></div>
            <div class="box-body">
                <div class="js-collection-wrapper"
                    data-prototype="{{ formMacros.printService(form.services.vars.prototype)|e('html_attr') }}"
                    data-index="{{ form.services|length }}">
                        {% for service in form.services %}
                            {{ formMacros.printService(service) }}
                        {% endfor %}
                    <button id="add-services" class="js-collection-add btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i> Ajouter un service
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# ADDRESS #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.address'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.address) }}
            </div>
        </div>

        {# REFERENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.referent'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.referent) }}
            </div>
        </div>

        {# IT MANAGER #}
        <div id="box-it-manager" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.it_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.differentItManager) }}
                {{ form_widget(form.itManager) }}
            </div>
        </div>

        {# REPORTING CONTINUOUS IMPROVEMENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.continuous_improvement'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.reportingBlockContinuousImprovement) }}
            </div>
        </div>

        {# COMITE IL CONTACT #}
        {% do form.comiteIlContacts.setRendered() %}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.comite_il'|trans }}</h3></div>
            <div class="box-body">
                <div class="js-collection-wrapper"
                     data-prototype="{{ formMacros.printComiteIlContact(form.comiteIlContacts.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.comiteIlContacts|length }}"
                >
                    {% for contact in form.comiteIlContacts %}
                        {{ formMacros.printComiteIlContact(contact) }}
                    {% endfor %}
                    <button class="js-collection-add btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i> Ajouter un membre
                    </button>
                </div>
            </div>
        </div>

        {# prevents weird label from showing up in new #}
{#        {{ form_widget(form.comiteIlContacts) }}#}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
                <div class="box-body text-center">
                <a aria-label="{{ 'user.collectivity.action.back_to_list'|trans }}" href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                    {{ 'user.collectivity.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
