{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity delete' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}
    {{ 'user.collectivity.title.delete'|trans }}
    -
    {{ parent() }}
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.collectivity.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.collectivity.breadcrumb.delete'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div role="status" id="deletion-status-flashbag" class="alert alert-warning">
                <strong>ATTENTION</strong><br/>
                Cette page réalise et vous informe de l'avancée de la suppression de la structure.<br/>
                Toute fermeture avant la finalisation de la suppression causera une <strong>suppression partielle</strong> des données.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    Suppression de la structure "{{ object }}" en cours.
                    <p>Mise à jour des éléments dupliqués <span id="maj_duplicate"></span></p>
                    <p></p>
                    <p id="todelete_list">
                        <b>Suppression des éléments rattachés en cours</b>
                        <ul>
                            <li>Suppression des traitements <span id="check_treatments"></span></li>
                            <li>Suppression des actions de protection <span id="check_mesurements"></span></li>
                            <li>Suppression des sous-traitants <span id="check_contractors"></span></li>
                            <li>Suppression des utilisateurs <span id="check_users"></span></li>
                            <li>Suppression des preuves <span id="check_proofs"></span></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="delete_button" style="display:none">
        <div class="col-xs-12">
            <form method="POST" action="{{ path('user_collectivity_delete_process', { 'id': object.id }) }}">
                <button type="submit" class="btn btn-primary">Supprimer la structure</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // ALERT POP UP
        // Show alert popup when we wanna close tab
        // const loadAlertPopupOnClosing = () => window.onbeforeunload = () => "Êtes-vous certain de vouloir fermer cet onglet ?";
        // // Disable alert popup when we wanna close tab
        // const unloadAlertPopupOnClosing = () => window.onbeforeunload = () => {};

        const showEndingFlashbag = () => {
            let flashbag = $('#deletion-status-flashbag');
            flashbag.hasClass('alert-warning') && flashbag.removeClass('alert-warning');
            flashbag.addClass('alert-success');
            flashbag.html('<strong>Suppression des éléments liés effectuée</strong><br/> Vous pouvez maintenant supprimer la structure avec le bouton en bas de page.');
            $('#delete_button').show()
        };

        const majCloned = () => {
            console.log("Maj cloned");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_update_cloned_from', { 'id': object.id }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#maj_duplicate`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    deleteTreatments()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>Une erreur est survenue lors de la mise à jour des éléments dupliqués depuis les éléments rattachés à la structure {{ object }}<i aria-hidden="true" class="fa fa-times text-red">');

                },
            })
        }
        const deleteTreatments = () => {
            console.log("Delete treatments");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'treatments' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_treatments`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    deleteMesurements()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>{{ 'registry.treatment.show.delete_related_objects_error'|trans({'%relateds%': 'traitements', '%object%': object}) }}<i aria-hidden="true" class="fa fa-times text-red">');
                },
            })
        }
        const deleteMesurements = () => {
            console.log("Delete mesurements");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'mesurements' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_mesurements`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    deleteContractors()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>{{ 'registry.treatment.show.delete_related_objects_error'|trans({'%relateds%': 'actions de protection', '%object%': object}) }}<i aria-hidden="true" class="fa fa-times text-red">');

                },
            })
        }
        const deleteContractors = () => {
            console.log("Delete contractors");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'contractors' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_contractors`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    deleteUsers()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>{{ 'registry.treatment.show.delete_related_objects_error'|trans({'%relateds%': 'sous-traitants', '%object%': object}) }}<i aria-hidden="true" class="fa fa-times text-red">');
                },
            })
        }
        const deleteUsers = () => {
            console.log("Delete users");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'users' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_users`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    deleteProofs()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>{{ 'registry.treatment.show.delete_related_objects_error'|trans({'%relateds%': 'sous-traitants', '%object%': object}) }}<i aria-hidden="true" class="fa fa-times text-red">');
                },
            })
        }
        const deleteProofs = () => {
            console.log("Delete proofs");
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'proofs' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_proofs`).html('<i aria-hidden="true" class="fa fa-check text-green"></i>');
                    showEndingFlashbag()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#todelete_list`).html('<span>{{ 'registry.treatment.show.delete_related_objects_error'|trans({'%relateds%': 'Preuves', '%object%': object}) }}<i aria-hidden="true" class="fa fa-times text-red">');
                },
            })
        }

        $(document).ready(function() {
            majCloned();
        });

    </script>
{% endblock %}
