{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity show' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.collectivity.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.collectivity.title.show'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.collectivity.breadcrumb.show'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                <a aria-label="{{ 'user.collectivity.action.back_to_list'|trans }}" href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    {{ 'user.collectivity.action.back_to_list'|trans }}
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a aria-label="{{ 'action.edit'|trans }}" href="{{ path('user_collectivity_edit', {'id': object.id}) }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-pencil"></i>
                        {{ 'action.edit'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.general'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.name'|trans }}</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.short_name'|trans }}</strong></td>
                            <td>{{ object.shortName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.type'|trans }}</strong></td>
                            <td>{% if object.type is not null %}{{ object.type|dictionary('user_collectivity_type') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.siren'|trans }}</strong></td>
                            <td>{{ object.siren|number_format(0, '.', ' ') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.finess_geo'|trans }}</strong></td>
                            <td>{{ object.finessGeo }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.active'|trans }}</strong></td>
                            <td>
                                {% if object.active %}
                                    <span class="badge bg-green">{{ 'label.active'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-red">{{ 'label.inactive'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.website'|trans }}</strong></td>
                            <td>{{ object.website }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.registre_public'|trans }}</strong></td>
                            <td><a target="_blank" rel="nofollow noreferrer noopener" href="{{ path('registry_public_treatment_list', {id: object.id}) }}">
                                Accéder au registre public
                            </a></td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.has_module_conformite_traitement'|trans }}</strong></td>
                            <td>
                                <span class="badge">
                                    {% if object.hasModuleConformiteTraitement %}
                                        {{ 'label.yes'|trans }}
                                    {% else %}
                                        {{ 'label.no'|trans }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.has_module_conformite_organisation'|trans }}</strong></td>
                            <td>
                                <span class="badge">
                                    {% if object.hasModuleConformiteOrganisation %}
                                        {{ 'label.yes'|trans }}
                                    {% else %}
                                        {{ 'label.no'|trans }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.has_module_tools'|trans }}</strong></td>
                            <td>
                                <span class="badge">
                                    {% if object.hasModuleTools %}
                                        {{ 'label.yes'|trans }}
                                    {% else %}
                                        {{ 'label.no'|trans }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.nbr_agents'|trans }}</strong></td>
                            <td>{{ object.nbrAgents }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.population'|trans }}</strong></td>
                            <td>{{ object.population }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.informations_complementaires'|trans }}</strong></td>
                            <td>{{ object.informationsComplementaires|nl2br }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.address'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.address_line_one'|trans }}</strong></td>
                            <td>{{ object.address.lineOne }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.address_line_two'|trans }}</strong></td>
                            <td>{{ object.address.lineTwo }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.address_zip_code'|trans }}</strong></td>
                            <td>{{ object.address.zipCode }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.address_city'|trans }}</strong></td>
                            <td>{{ object.address.city }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.address_insee'|trans }}</strong></td>
                            <td>{{ object.address.insee }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.legal_manager'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_civility'|trans }}</strong></td>
                            <td>
                                {% if object.legalManager.civility is not null %}
                                    {{ object.legalManager.civility|dictionary('user_contact_civility') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_first_name'|trans }}</strong></td>
                            <td>{{ object.legalManager.firstName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_last_name'|trans }}</strong></td>
                            <td>{{ object.legalManager.lastName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_job'|trans }}</strong></td>
                            <td>{{ object.legalManager.job }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_mail'|trans }}</strong></td>
                            <td>{{ object.legalManager.mail }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_phone_number'|trans }}</strong></td>
                            <td>{{ object.legalManager.phoneNumber }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.it_manager'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.different_it_manager'|trans }}</strong></td>
                            <td>
                                <span class="badge">
                                    {% if object.differentItManager %}
                                        {{ 'label.yes'|trans }}
                                    {% else %}
                                        {{ 'label.no'|trans }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% if object.differentItManager %}
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_civility'|trans }}</strong></td>
                            <td>
                                {% if object.itManager.civility is not null %}
                                    {{ object.itManager.civility|dictionary('user_contact_civility') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_first_name'|trans }}</strong></td>
                            <td>{{ object.itManager.firstName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_last_name'|trans }}</strong></td>
                            <td>{{ object.itManager.lastName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_job'|trans }}</strong></td>
                            <td>{{ object.itManager.job }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_mail'|trans }}</strong></td>
                            <td>{{ object.itManager.mail }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_phone_number'|trans }}</strong></td>
                            <td>{{ object.itManager.phoneNumber }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.referent'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_civility'|trans }}</strong></td>
                            <td>
                                {% if object.referent.civility is not null %}
                                    {{ object.referent.civility|dictionary('user_contact_civility') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_first_name'|trans }}</strong></td>
                            <td>{{ object.referent.firstName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_last_name'|trans }}</strong></td>
                            <td>{{ object.referent.lastName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_job'|trans }}</strong></td>
                            <td>{{ object.referent.job }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_mail'|trans }}</strong></td>
                            <td>{{ object.referent.mail }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_phone_number'|trans }}</strong></td>
                            <td>{{ object.referent.phoneNumber }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.dpo'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.nbr_cnil'|trans }}</strong></td>
                            <td>{{ object.nbrCnil }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.different_dpo'|trans }}</strong></td>
                            <td>
                                <span class="badge">
                                    {% if object.differentDpo %}
                                        {{ 'label.yes'|trans }}
                                    {% else %}
                                        {{ 'label.no'|trans }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_civility'|trans }}</strong></td>
                            <td>
                                {% if object.differentDpo %}
                                    {{ object.dpo.civility|dictionary('user_contact_civility') }}
                                {% else %}
                                    {{ default_dpo_civility }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_first_name'|trans }}</strong></td>
                            {% if object.differentDpo %}
                                <td>{{ object.dpo.firstName }}</td>
                            {% else %}
                                <td>{{ default_dpo_firstName }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_last_name'|trans }}</strong></td>
                            {% if object.differentDpo %}
                                <td>{{ object.dpo.lastName }}</td>
                            {% else %}
                                <td>{{ default_dpo_lastName }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_job'|trans }}</strong></td>
                            {% if object.differentDpo %}
                                <td>{{ object.dpo.job }}</td>
                            {% else %}
                                <td>{{ default_dpo_job }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_mail'|trans }}</strong></td>
                            {% if object.differentDpo %}
                                <td>{{ object.dpo.mail }}</td>
                            {% else %}
                                <td>{{ default_dpo_mail }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.contact_phone_number'|trans }}</strong></td>
                            {% if object.differentDpo %}
                                <td>{{ object.dpo.phoneNumber }}</td>
                            {% else %}
                                <td>{{ default_dpo_phoneNumber }}</td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.management_commitment'|trans }}</h3></div>
                <div class="box-body">
                    {{ object.reportingBlockManagementCommitment|raw }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.continuous_improvement'|trans }}</h3></div>
                <div class="box-body">
                    {{ object.reportingBlockContinuousImprovement|raw }}
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-9">
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.comite_il'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <thead>
                        <tr>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_civility'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_first_name'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_last_name'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_job'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_mail'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'user.collectivity.show.contact_phone_number'|trans }}</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in object.comiteIlContacts %}
                            <tr>
                                <td>{{ contact.contact.civility|dictionary('user_contact_civility') }}</td>
                                <td>{{ contact.contact.firstName }}</td>
                                <td>{{ contact.contact.lastName }}</td>
                                <td>{{ contact.contact.job }}</td>
                                <td>{{ contact.contact.mail }}</td>
                                <td>{{ contact.contact.phoneNumber }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.historic'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.created_at'|trans }}</strong></td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                        </tr><tr>
                            <td><strong>{{ 'user.collectivity.show.updated_at'|trans }}</strong></td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.collectivity.show.updated_by'|trans }}</strong></td>
                            <td>{{ object.updatedBy }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.user.title.list'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <thead>
                            <tr>
                                <th scope="col"><strong>{{ 'user.user.list.first_name'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'user.user.list.last_name'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'user.user.list.email'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'user.user.list.enabled'|trans }}</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in object.users|filter(user => user.deletedAt is null) %}
                            <tr>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.enabled %}
                                        <span class="badge bg-green">{{ 'label.active'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'label.inactive'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if object.isServicesEnabled and object.services is not empty %}
            <div class="col-md-6">
                <div class="box box-solid box-default">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.services'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><strong>{{ 'user.collectivity.show.name'|trans }}</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in object.services %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-md-6">
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.services'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <thead>
                        <tr>
                            <th scope="col"><strong>{{ 'user.collectivity.show.name'|trans }}</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in object.services %}
                            <tr>
                                <td>{{ service.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
