{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('maturity.survey.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('maturity.survey.action.new_submit'|trans) %}
{% endif %}

{{ form_start(form) }}
    {% do form.questions.setRendered() %}
    {% do form.referentiel.setRendered() %}
    {{ form_errors(form) }}
    <div class="row" style="display: flex;flex-wrap: wrap;">
        {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
        <input type="hidden" name="referentiel" value="{{ form.vars.value.referentiel ? form.vars.value.referentiel.id : '' }}" />
        {% set domains = form.vars.value.referentiel ? form.vars.value.referentiel.domains|sort((a, b) => a.position > b.position) : [] %}

        {% for domain in domains %}
            {% set colorSection = 0 %}
            {% if loop.index matches '/^\\d+$/' %}
                {% set colorSection = (loop.index - 1) % 4 %}
            {% endif %}
            <div class="col-md-6">
                <div class="box box-solid {{ colors[colorSection] }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ domain.name }}</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ domain.description }}</p>
                        {% for question in domain.questions|sort((a, b) => a.position > b.position) %}
                            {% set optionAnswers = form.vars.data.optionalAnswers ? form.vars.data.optionalAnswers|filter(a => a.question.id == question.id) : [] %}
                            <div class="question form-group">
                                <label class="control-label required">{{ question.name }}</label>
                                {% if question.optional %}
                                    <div class="radio optional">
                                        <label for="question-option-{{ question.id }}">
                                            <input
                                                class="question-option"
                                                id="question-option-{{ question.id }}"
                                                type="radio" name="survey[questions][{{ question.id }}][option]"
                                                value="1"
                                                {% if optionAnswers|length > 0 %} checked {% endif %}
                                            />
                                            {{ question.optionReason ? question.optionReason : 'Non concerné' }}
                                        </label>
                                    </div>
                                {% endif %}
                                {% for answer in question.answers|sort((a, b) => a.position > b.position) %}
                                    <div class="radio answer">
                                        <label class="required">
                                        <input class="answer-input" {% if form.vars.data.answerSurveys|filter(a => a.answer.id == answer.id)|length > 0 %} checked {% endif%} id="answer-{{ answer.id }}" type="radio" name="survey[questions][{{ question.id }}][answers][]" value="{{ answer.id }}" {% if not (optionAnswers|length > 0) %}required{% endif%} />
                                            <!-- {{ answer.position }} --> {{ answer.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    {% if domains|length == 0 %}
                        <p>Aucun référentiel pour cet indice de maturité.</p>
                    {% endif %}
                    <a aria-label="{{ 'maturity.survey.action.back_to_list'|trans }}" href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                        {{ 'maturity.survey.action.back_to_list'|trans }}
                    </a>
                    {% if domains|length > 0 %}
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
