{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_violation list' %}
{% set menuItem = 'registry_violation' %}

{% block title %}{{ 'registry.violation.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.violation.title.list'|trans }}
        <small>
            {% if app.request.query.get('archive') == 'true' %}
                {{ 'label.archived'|trans }}
            {% else %}
                {{ 'label.not_archived'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.violation.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'registry.violation.action.new'|trans }}" href="{{ path('registry_violation_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.violation.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a aria-label="{{ 'registry.violation.action.report'|trans }}" href="{{ path('registry_violation_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.violation.action.report'|trans }}
                    </a>
                    {% endif %}
                    {% if app.request.query.get('archive') == 'true' %}
                        <a aria-label="{{ 'registry.violation.action.not_archived'|trans }}" href="{{ path('registry_violation_list', {'archive' : 'false'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-archive"></i>
                            {{ 'registry.violation.action.not_archived'|trans }}
                        </a>
                    {% else %}
                        <a aria-label="{{ 'registry.violation.action.archived'|trans }}" href="{{ path('registry_violation_list', {'archive' : 'true'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-archive"></i>
                            {{ 'registry.violation.action.archived'|trans }}
                        </a>
                    {% endif %}
                    {% if category and category.documents|length > 0 %}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="custom-buttons" style="float:left">
                        <a id="print-all" style="float:left" href="{{ path('registry_violation_print_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Imprimer
                        </a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_date" placeholder="Date de violation" style="z-index:10;left: inherit!important;top: 0;font-size: 14px;max-width:90%;border-radius: 0;font-family: inherit;padding: 0 5px;">
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                                </th>
                            {% endif %}
                            <th scope="col">
                                <select class="form-control" id="search_nature" style="width: 100%;">
                                    <option value="">Nature</option>
                                    {% for key, subject in dictionary('registry_violation_nature') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_inProgress" style="width: 100%;">
                                    <option value="">En cours</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_cause" style="width: 100%;">
                                    <option value="">Cause</option>
                                    {% for key, subject in dictionary('registry_violation_cause') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_gravity" style="width: 100%;">
                                    <option value="">Gravité</option>
                                    {% for key, subject in dictionary('registry_violation_gravity') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_notification" style="width: 100%;">
                                    <option value="">Notification</option>
                                    {% for key, subject in dictionary('registry_violation_notification_list') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 100%;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 100%;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'registry.violation.list.date'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'registry.violation.list.collectivity'|trans }}</th>
                            {%  endif %}
                            <th scope="col">{{ 'registry.violation.list.violation_nature'|trans }}</th>
                            <th scope="col">{{ 'registry.violation.list.in_progress'|trans }}</th>
                            <th scope="col">{{ 'registry.violation.list.cause'|trans }}</th>
                            <th scope="col">{{ 'registry.violation.list.gravity'|trans }}</th>
                            <th scope="col">{{ 'registry.violation.list.notification'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.violation.list.created_at'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.violation.list.updated_at'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = false %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if is_granted('ROLE_USER') and 'true' != app.request.get('archive') %}
        {% set actionIsVisible = true %}
    {% endif %}

    {% set cols = [
        {"data": "date", "className": "noVis"},
        {"data": "nature"},
        {"data": "inProgress"},
        {"data": "cause"},
        {"data": "gravity"},
        {"data": "notification"},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis", "orderable": false, "visible": actionIsVisible},
    ] %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "date", "className": "noVis"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "nature"},
            {"data": "inProgress"},
            {"data": "cause"},
            {"data": "gravity"},
            {"data": "notification"},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "orderable": false, "visible": actionIsVisible},
        ] %}
    {% endif %}

    {% set dataTableOptions = {
        columns: cols
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();
            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}

            oTable.on( 'draw', function () {
                const printButton = $('#print-all')
                let printLink = "{{ path('registry_violation_print_all', { }) }}";
                let count = oTable.data().rows().count();

                if (count) {
                    printButton.attr("href", printLink);
                    printButton.removeClass("disabled");
                } else {
                    printButton.addClass("disabled");
                    printButton.removeAttr("href");
                }
            });

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });
            $('#search_date').show('slide',function(){
                $('input#search_date').val('');
            });


            $('#search_date').off('change');
            $('#search_date').change(function(){
                oTable.column('0').search($(this).val()).draw() ;
            });

            {% if is_granted('ROLE_REFERENT') %}
                $('#search_collectivite').off('keyup');
                $('#search_collectivite').keyup($.debounce(250, function(){
                    oTable.column(1).search($(this).val()).draw() ;
                }));
            {% endif %}

            $('#search_nature').off('change');
            $('#search_nature').change(function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            });

            $('#search_inProgress').off('change');
            $('#search_inProgress').change(function(){
                oTable.column(col + 2).search($(this).val()).draw() ;
            });

            $('#search_cause').off('change');
            $('#search_cause').change(function(){
                oTable.column(col +3).search($(this).val()).draw() ;
            });

            $('#search_gravity').off('change');
            $('#search_gravity').change(function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            });

            $('#search_notification').off('change');
            $('#search_notification').change(function(){
                oTable.column(col + 5).search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 6).search($(this).val()).draw();
            });

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 7).search($(this).val()).draw();
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em"));
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
