{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement action_plan' %}
{% set menuItem = 'registry_mesurement_action_plan' %}

{% block title %}{{ 'registry.mesurement.title.action_plan'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.mesurement.title.action_plan'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.title.action_plan'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row" style="margin-bottom:1em">
        <div class="col-xs-12">
            <div class="action-bar">
                {% if category and category.documents|length > 0 %}
                    <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                        <i aria-hidden="true" class="fa fa-circle-info"></i>
                        {{ 'documentation.document.link.button'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_date_planification" placeholder="Date" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_cout" placeholder="Coût" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_charge" placeholder="Charge" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_priorite" style="width: 100%;">
                                    <option value="">Priorité</option>
                                    {% for key, subject in dictionary('registry_mesurement_priority') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_responsable_action" placeholder="Responsable" style="width: 100%;">
                            </th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'registry.mesurement.list.name'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.collectivity'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.planification_date'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.cost'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.charge'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.priority'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.manager'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.description'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.observation'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.created_at'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.updated_at'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "date_planification"},
            {"data": "cout"},
            {"data": "charge"},
            {"data": "priorite"},
            {"data": "responsable_action"},
            {"data": "description", "visible": false, "orderable": false},
            {"data": "observation", "visible": false, "orderable": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "orderable": false, "className": "noVis"},
        ],
        order:  [
            [5, 'desc' ]
        ],
        addSubstr : [7, 8],
    } %}

    <script>
        function substrColRenderFunction (data, type, full, meta){
            let content = data && data.length > 105 ? `<span data-toggle="tooltip" data-placement="bottom" title="${data}">${data.substring(0, 105)}...</span>` : data
            return content;
        }
    </script>

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_date_planification').off('change');
            $('#search_date_planification').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });

            $('#search_cout').off('keyup');
            $('#search_cout').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));

            $('#search_charge').off('keyup');
            $('#search_charge').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw() ;
            }));

            $('#search_priorite').off('change');
            $('#search_priorite').change(function(){
                oTable.column('5').search($(this).val()).draw() ;
            });

            $('#search_responsable_action').off('keyup');
            $('#search_responsable_action').keyup($.debounce(250, function(){
                oTable.column('6').search($(this).val()).draw() ;
            }));

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                console.log('test2')
                oTable.column('9').search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column('10').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
