{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement list' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.mesurement.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.mesurement.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'registry.mesurement.action.new'|trans }}" href="{{ path('registry_mesurement_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.mesurement.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a aria-label="{{ 'registry.treatment.action.report'|trans }}" href="{{ path('registry_mesurement_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.treatment.action.report'|trans }}
                    </a>
                    {% endif %}
                    {% if category and category.documents|length > 0 %}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="custom-buttons" style="float:left">
                        <a id="print-all" href="" class="dt-button buttons-collection buttons-colvis">
                            Imprimer
                        </a>
                        {% if app.user.roles[0] != 'ROLE_PREVIEW' %}
                            <a id="delete-all"  href="" class="dt-button buttons-collection buttons-colvis">
                                Supprimer
                            </a>
                        {% endif %}
                    </div>

                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                            <th scope="col">
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                            </th>
                            {% endif %}
                            <th scope="col">
                                <select class="form-control" id="search_statut" style="width: 100%;">
                                    <option value="">Statut</option>
                                    {% for key, subject in dictionary('registry_mesurement_status') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_cout" placeholder="Coût" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_charge" placeholder="Charge" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_priorite" style="width: 100%;">
                                    <option value="">Priorité</option>
                                    {% for key, subject in dictionary('registry_mesurement_priority') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_responsable_action" placeholder="Responsable" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_description" placeholder="Description" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_observation" placeholder="Observation" style="width: 100%;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'registry.mesurement.list.name'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                            <th scope="col">{{ 'registry.mesurement.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'registry.mesurement.list.status'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.cost'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.charge'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.priority'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.responsable'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.description'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.observation'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.created_at'|trans }}</th>
                            <th scope="col">{{ 'registry.mesurement.list.updated_at'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th scope="col">{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = false %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% set actionIsVisible = true %}
    {% endif %}

    {% set cols = [
        {"data": "nom", "className": "noVis"},
        {"data": "statut"},
        {"data": "cout"},
        {"data": "charge"},
        {"data": "priorite"},
        {"data": "responsable_action"},
        {"data": "description", "visible": false, "orderable": true},
        {"data": "observation", "visible": false, "orderable": true},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "orderable": false, "className": "noVis", "visible": actionIsVisible},
    ] %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "statut"},
            {"data": "cout"},
            {"data": "charge"},
            {"data": "priorite"},
            {"data": "responsable_action"},
            {"data": "description", "visible": false, "orderable": true},
            {"data": "observation", "visible": false, "orderable": true},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "orderable": false, "className": "noVis", "visible": actionIsVisible},
        ] %}
    {% endif %}

    {% set dataTableOptions = {
        columns: cols,
        order:  [
            [5, 'desc' ]
        ],
        addSubstr : [7, 8],
    } %}

    <script>
        function substrColRenderFunction (data, type, full, meta){
            let content = data && data.length > 105 ? `<span data-toggle="tooltip" data-placement="bottom" title="${data}">${data.substring(0, 105)}...</span>` : data
            return content;
        }
    </script>

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        $(document).ready(function() {
            $('#table_filter').hide();

            var oTable = $('#table').DataTable();

            oTable.on( 'draw', function () {
                const deleteButton = $('#delete-all')
                const printButton = $('#print-all')
                let deleteLink = "{{ path('registry_mesurement_delete_all', { }) }}";
                let printLink = "{{ path('registry_mesurement_print_all', { }) }}";
                let count = oTable.data().rows().count();

                if (count) {
                    deleteButton.attr("href", deleteLink);
                    deleteButton.removeClass("disabled");
                    printButton.attr("href", printLink);
                    printButton.removeClass("disabled");
                } else {
                    deleteButton.addClass("disabled");
                    deleteButton.removeAttr("href");
                    printButton.addClass("disabled");
                    printButton.removeAttr("href");
                }
            });

            function setEvents() {

                let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
                $("#custom-buttons").prepend(columnButton.css("float", "left").css("margin-right", "0.5em"));

                let exportButton = $("button.dt-button > span:contains('Exporter')").parent();
                $("#delete-all").before(exportButton.css("bottom", "17px"));

                var col = 0;
                {% if is_granted('ROLE_REFERENT') %}
                col = 1;
                {% endif %}

                $('#search_created_at').show('slide', function () {
                    $('input#search_created_at').val('');
                });
                $('#search_updated_at').show('slide', function () {
                    $('input#search_updated_at').val('');

                });

                $('#search_nom').keyup($.debounce(250, function () {
                    oTable.column('0').search($(this).val()).draw();
                }));
                {% if is_granted('ROLE_REFERENT') %}
                $('#search_collectivite').keyup($.debounce(250, function () {
                    oTable.column('1').search($(this).val()).draw();
                }));
                {% endif %}
                $('#search_statut').change(function () {
                    oTable.column(col+1).search($(this).val()).draw();
                });
                $('#search_cout').keyup($.debounce(250, function () {
                    oTable.column(col+2).search($(this).val()).draw();
                }));
                $('#search_charge').keyup($.debounce(250, function () {
                    oTable.column(col+3).search($(this).val()).draw();
                }));
                $('#search_priorite').change(function () {
                    oTable.column(col+4).search($(this).val()).draw();
                });
                $('#search_responsable_action').keyup($.debounce(250, function () {
                    oTable.column(col+5).search($(this).val()).draw();
                }));
                $('#search_description').keyup($.debounce(250, function () {
                    oTable.column(col+6).search($(this).val()).draw();
                }));
                $('#search_observation').keyup($.debounce(250, function () {
                    oTable.column(col+7).search($(this).val()).draw();
                }));
                $('#search_created_at').off('change');
                $('#search_created_at').change(function () {
                    oTable.column(col+8).search($(this).val()).draw();
                });

                $('#search_updated_at').off('change');
                $('#search_updated_at').change(function () {
                    oTable.column(col+9).search($(this).val()).draw();
                });
            }

            $('#table').on('column-visibility.dt', function() {
                setEvents();
            } );
            setEvents();
        } );
    </script>
{% endblock %}
