{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement show' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.mesurement.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.mesurement.title.show'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.breadcrumb.list'|trans, 'link': path('registry_mesurement_list') },
        { 'name': 'registry.mesurement.breadcrumb.show'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                <a aria-label="{{ 'registry.mesurement.action.back_to_list'|trans }}" href="{{ referer }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    {{ 'registry.mesurement.action.back_to_list'|trans }}
                </a>
                <a aria-label="{{ 'action.edit'|trans }}" href="{{ path('registry_mesurement_edit', {'id': object.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-pencil"></i>
                    {{ 'action.edit'|trans }}
                </a>
                <a aria-label="{{ 'action.print'|trans }}" href="{{ path('registry_mesurement_pdf', {'id': object.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-print"></i>
                    {{ 'action.print'|trans }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL INFORMATIONS #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.mesurement.tab.general'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.name'|trans }}</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.description'|trans }}</strong></td>
                            <td>{{ object.description|nl2br }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.manager'|trans }}</strong></td>
                            <td>{{ object.manager }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.priority'|trans }}</strong></td>
                            {% if object.priority is not null %}
                                <td>{{ object.priority|dictionary('registry_mesurement_priority') }}</td>
                            {% endif %}
                        </tr>
                        {#
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.type'|trans }}</strong></td>
                            <td>{{ object.type|dictionary('registry_mesurement_type') }}</td>
                        </tr>
                        #}
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.cost'|trans }}</strong></td>
                            <td>{{ object.cost }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.charge'|trans }}</strong></td>
                            <td>{{ object.charge }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.mesurement.tab.historic'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td><strong>{{ 'registry.mesurement.show.collectivity'|trans }}</strong></td>
                                <td>
                                    <a aria-label="{{ object.collectivity }}" href="{{ path('user_collectivity_show', {'id': object.collectivity.id }) }}">
                                        {{ object.collectivity }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.created_at'|trans }}</strong></td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.updated_at'|trans }}</strong></td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.updated_by'|trans }}</strong></td>
                            <td>{{ object.updatedBy }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# APPLICATION #}
            <div class="box box-solid box-success">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.mesurement.tab.application'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.status'|trans }}</strong></td>
                            <td>{{ object.status|dictionary('registry_mesurement_status') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.planification_date'|trans }}</strong></td>
                            <td>
                                {% if object.planificationDate is not null %}
                                    {{ object.planificationDate|date('d/m/Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.mesurement.show.comment'|trans }}</strong></td>
                            <td>{{ object.comment }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# PROOFS #}
            {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}

            {% if object.collectivity.isHasModuleTools %}
                {# Tools#}
                {% include '_Utils/_show_block_tools.html.twig' with { tools: object.tools } %}
            {% endif %}

            {# CONTRACTORS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_contractors'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.contractors and object.contractors |length %}
                        <ul>
                            {% for contractor in object.contractors %}
                                <li><a aria-label="{{ contractor|default('registry.mesurement.show.none'|trans) }}" href="{{ path('registry_contractor_show', {id: contractor.id}) }}">
                                        {{ contractor|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_contractors'|trans }}
                    {% endif %}
                </div>
            </div>

            {# TREATMENTS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_treatment'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.treatments and object.treatments |length %}
                        <ul>
                            {% for treatment in object.treatments %}
                                <li><a aria-label="{{ treatment|default('registry.mesurement.show.none'|trans) }}" href="{{ path('registry_treatment_show', {id: treatment.id}) }}">
                                        {{ treatment|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_treatment'|trans }}
                    {% endif %}
                </div>
            </div>

            {# DEMANDS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_request'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.requests and object.requests |length %}
                        <ul>
                            {% for request in object.requests %}
                                <li><a aria-label="{{ request|default('registry.mesurement.show.none'|trans) }}" href="{{ path('registry_request_show', {id: request.id}) }}">
                                        {{ request|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        {{ 'label.no_linked_requests'|trans }}
                    {% endif %}
                </div>
            </div>

            {# VIOLATIONS #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'label.linked_violations'|trans }}</h3></div>
                <div class="box-body">
                    {% if object.violations and object.violations |length %}
                        <ul>
                            {% for violation in object.violations %}
                                <li><a aria-label="{{ violation|default('registry.mesurement.show.none'|trans) }}" href="{{ path('registry_violation_show', {id: violation.id}) }}">
                                        {{ violation|default('registry.mesurement.show.none'|trans) }}
                                    </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'label.no_linked_violations'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
