<div class="box box-solid">
    <div class="box-header with-border" style="display: flex;align-items: end;gap: 10px;padding-right: 0;cursor: grab;">
        <span style="padding: 7px 0;">
            <i aria-hidden="true" class="fas fa-grip-vertical"></i>
        </span>
        <div class="question-no-margin" style="display: flex;flex-grow: 1;gap: 10px;padding: 0 10px;">
            <div style="flex-grow: 1;">
                {{ form_row(form.position) }}
                {{ form_row(form.name) }}
            </div>
            <div style="flex-grow: 1;">
                {{ form_row(form.recommendation) }}
            </div>
        </div>
        <a href="#" class="delete-answer btn"><i aria-hidden="true" class="fa fa-trash"></i></a>
    </div>
</div>
