{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_referentiel form import' %}
{% set menuItem = 'maturity_referentiel' %}

{% block title %}{{ 'maturity.referentiel.title.import'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.referentiel.title.import'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.referentiel.title.list'|trans, 'link': path('maturity_referentiel_list') },
        { 'name': 'maturity.referentiel.title.import'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}

        <div class="col-md-12">
            <div class="box box-solid box-solid">
                <div class="box-body">
                    {{ form_row(form.file) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                        {{ 'maturity.referentiel.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="Importer le référentiel">
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
