{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_referentiel list' %}
{% set menuItem = 'maturity_referentiel' %}

{% block title %}{{ 'maturity.referentiel.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.referentiel.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.referentiel.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('maturity_referentiel_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'maturity.referentiel.action.new'|trans }}
                    </a>
                    <a href="{{ path('maturity_referentiel_import') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-file-import"></i>
                        {{ 'maturity.referentiel.action.import'|trans }}
                    </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover" style="position: relative">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_description" placeholder="Description" style="width: 100%;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">{{ 'maturity.referentiel.list.name'|trans }}</th>
                                <th scope="col">{{ 'maturity.referentiel.list.description'|trans }}</th>
                                <th scope="col">{{ 'maturity.referentiel.list.created_at'|trans }}</th>
                                <th scope="col">{{ 'maturity.referentiel.list.updated_at'|trans }}</th>
                                <th scope="col">{{ 'label.actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "name", "className": "noVis"},
            {"data": "description"},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "orderable": false},
        ],
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_description').off('keyup');
            $('#search_description').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                console.log(oTable.column('2'));
                oTable.column('2').search($(this).val()).draw();
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column('3').search($(this).val()).draw();
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
