{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('documentation.category.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('documentation.category.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-body text-center">
                <a aria-label="{{ 'documentation.category.action.back_to_list'|trans }}" href="{{ path('documentation_category_list') }}" class="btn btn-default">
                    {{ 'documentation.category.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
