{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.conformite_organisation.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.conformite_organisation.action.new_submit'|trans) %}
{% endif %}


{% set draftValue = draftValue|default('action.draft'|trans) %}
{% import _self as formMacros %}

{% macro printParticipant(participant) %}
    <div class="js-collection-item col-md-6 nopadding">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title"></div>
                <div class="box-tools pull-right">
                    <button aria-label="Supprimer le participant" title="Supprimer le participant" class="btn btn-box-tool js-remove-item" data-toggle="tooltip">
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {{ form_errors(participant) }}
                {{ form_row(participant.civilite, {'attr': {'autocomplete': 'honorific-prefix'}}) }}
                {{ form_row(participant.prenom, {'attr': {'autocomplete': 'given-name'}}) }}
                {{ form_row(participant.nomDeFamille, {'attr': {'autocomplete': 'family-name'}}) }}
                {{ form_row(participant.fonction, {'attr': {'autocomplete': 'organization-title'}}) }}
            </div>
        </div>
    </div>
{% endmacro %}

{{ form_start(form) }}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a aria-label="{{ 'registry.conformite_organisation.action.back_to_list'|trans }}" href="{{ path('registry_conformite_organisation_list') }}" class="btn btn-default">
                    {{ 'registry.conformite_organisation.action.back_to_list'|trans }}
                </a>
                {# Prevent those fields from being automatically rendered #}
                {% do form.save.setRendered() %}
                {% do form.participants.setRendered() %}
                {% do form.saveDraft.setRendered() %}
                <input name="{{ form.children.save.vars.full_name }}" type="submit" class="btn btn-primary" value="{{ submitValue }}">
                <input name="{{ form.children.saveDraft.vars.full_name }}" type="submit" class="btn btn-info" value="{{ draftValue }}">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ 'registry.conformite_organisation.form.contexte'|trans }}
                </h3>
            </div>
            <div class="box-body">
                <div class="col-sm-4">
                    {{ form_row(form.date) }}
                </div>
                <div class="col-sm-8">
                    <label class="control-label">Participants</label>
                    <div class="js-collection-wrapper"
                         data-prototype="{{ formMacros.printParticipant(form.participants.vars.prototype)|e('html_attr') }}"
                         data-index="{{ form.participants|length }}"
                    >
                        {% for participant in form.participants %}
                            {{ formMacros.printParticipant(participant) }}
                        {% endfor %}
                        <button class="js-collection-add btn btn-default">
                            <i aria-hidden="true" class="fa fa-plus"></i> {{ 'registry.conformite_organisation.participant.form.add'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% include 'Registry/Conformite_organisation/_form_conformites.html.twig' with {'form': form.conformites} %}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                {# Prevent those fields from being automatically rendered #}
                {% do form.save.setRendered() %}
                {% do form.saveDraft.setRendered() %}
                <input name="{{ form.children.save.vars.full_name }}" type="submit" class="btn btn-primary" value="{{ submitValue }}">
                <input name="{{ form.children.saveDraft.vars.full_name }}" type="submit" class="btn btn-info" value="{{ draftValue }}">
            </div>
        </div>
    </div>

{{ form_end(form) }}
