{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_conformite_organisation list' %}
{% set menuItem = 'registry_conformite_organisation' %}
{% set submitValue = submitValue|default('action.save'|trans) %}

{% block title %}{{ 'registry.conformite_organisation.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.conformite_organisation.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.conformite_organisation.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {% if form is not null  %}
        {% set userRole = app.user.roles[0] %}
        {% if userRole == 'ROLE_USER' %}
            {{ form_start(form) }}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if evaluations is not empty and not is_granted('ROLE_ADMIN') %}
                        <a aria-label="{{ 'registry.conformite_organisation.action.report'|trans }}" href="{{ path('registry_conformite_organisation_report', {'id': evaluations[0].id, 'all_actions' : false}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                            {{ 'registry.conformite_organisation.action.report'|trans }}
                        </a>
                    {% endif %}
                    {% if userRole == 'ROLE_USER' %}
                        <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                    {% endif %}
                </div>
            </div>
        </div>

        {% if not is_granted('ROLE_REFERENT') %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'registry.conformite_organisation.list.pilote'|trans }}</th>
                                    <th scope="col">{{ 'registry.conformite_organisation.list.processus'|trans }}</th>
                                    <th scope="col">{{ 'registry.conformite_organisation.list.conformite'|trans }}</th>
                                    <th scope="col">{{ 'registry.conformite_organisation.list.action_protection'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if evaluations is not empty %}
                                        {% for conformite in getConformitesWithProcessusAndQuestions(form.conformites) %}
                                            {% set conformite = conformite[0] %}
                                            <tr>
                                                <td style="vertical-align: middle">{{ form_widget(conformite.pilote) }}</td>
                                                <td style="vertical-align: middle">{{ conformite.vars.value.processus.nom }}</td>
                                                <td style="vertical-align: middle">
                                                    {% if conformite.vars.value.conformite < 2.5 %}
                                                        {% set type = 'bg-red' %}
                                                    {% elseif conformite.vars.value.conformite < 3.5 %}
                                                        {% set type = 'bg-yellow' %}
                                                    {% else %}
                                                        {% set type = 'bg-green' %}
                                                    {% endif %}
                                                    <span style="width: 50px;" class="badge {{ type }}">{{ conformite.vars.value.conformite }} / 5</span>
                                                </td>
                                                <td style="vertical-align: middle">
                                                    <ul>
                                                        {% for action in conformite.vars.value.NonAppliedActionProtections %}
                                                            <li>{{ action.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if userRole == 'ROLE_USER' %}
            {{ form_end(form) }}
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    <a aria-label="{{ 'registry.conformite_organisation.action.create'|trans }}" href="{{ path('registry_conformite_organisation_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.conformite_organisation.action.create'|trans }}
                    </a>

                    {% if category and category.documents|length > 0 %}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'registry.conformite_organisation.list.date_creation'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'registry.conformite_organisation.list.collectivite'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'registry.conformite_organisation.list.nb_participants'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_organisation.list.draft'|trans }}</th>
                            <th scope="col">{{ 'registry.conformite_organisation.list.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evaluation in evaluations %}
                            <tr>
                                <td>{% if evaluation.date is not null %}{{ evaluation.date|date('d/m/Y') }}{% endif %}</td>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <td>{{ evaluation.collectivity.name }}</td>
                                {% endif %}
                                <td>{{ evaluation.participants|length }}</td>
                                <td>
                                    {% if evaluation.draft %}
                                        <span class="badge">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-gray">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a aria-label="{{ 'registry.conformite_organisation.action.print'|trans }}" href="{{ path('registry_conformite_organisation_report', {'id': evaluation.id}) }}">
                                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                                        {{ 'registry.conformite_organisation.action.print'|trans }}
                                    </a>
                                    {% if is_granted('ROLE_USER') %}
                                        {% if evaluation.isDraft %}
                                            <a aria-label="{{ 'registry.conformite_organisation.action.edit'|trans }}" href="{{ path('registry_conformite_organisation_edit', {'id': evaluation.id}) }}">
                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                {{ 'registry.conformite_organisation.action.edit'|trans }}
                                            </a>
                                        {% endif %}
                                        <a aria-label="{{ 'registry.conformite_organisation.action.delete'|trans }}" href="{{ path('registry_conformite_organisation_delete', {'id': evaluation.id}) }}">
                                            <i aria-hidden="true" class="fa fa-trash"></i>
                                            {{ 'registry.conformite_organisation.action.delete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set dataTableOptions = {
            columnDefs: [
                { orderable: false,className: "noVis", targets: 4 },
                { orderable: 'desc', targets: 1 }
            ],
        } %}
    {% else %}
        {% set dataTableOptions = {
            columnDefs: [
                { orderable: false, className: "noVis", targets: 4 },
                { orderable: 'desc', targets: 0 }
            ],
        } %}
    {% endif %}
    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}
