{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('documentation.document.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('documentation.document.action.new_submit'|trans) %}
{% endif %}

{{ form_errors(form) }}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="box box-solid box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {% if form.uploadedFile is defined %}
                    {{ 'documentation.document.form.title.file'|trans }}
                    {% else %}
                        {{ 'documentation.document.form.title.link'|trans }}
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
            {{ form_row(form.name) }}
            {% if form.url is defined %}
                {{ form_row(form.url) }}
            {% endif %}
            {% if form.uploadedFile is defined and form.uploadedFile %}
                {%  if object.url %}
                <div class="form-group">
                    <p><strong>Fichier actuel :</strong> <a href="{{ object.url }}" target="_blank">{{ object.name }}</a></p>
                </div>
                    {% endif %}
                {{ form_row(form.uploadedFile) }}
                <div class="callout callout-default text-muted">
                    {{ 'documentation.document.form.help.file' | trans({'max_size': app_max_upload_size}) }}
                </div>
            {% endif %}
            {{ form_row(form.thumbUploadedFile) }}
            <div class="callout callout-default text-muted">
                {{ 'documentation.document.form.help.thumbnail' | trans({'max_size': app_max_upload_size}) }}
            </div>
            {% if object.thumbUrl %}
                <div id="thumbnail-group">
                    <img src="{{ object.thumbUrl }}" height="100"/>
                    <button id="remove-thumb" class="btn btn-link">
                        <i aria-hidden="true" class="fa fa-trash"></i>
                        {{ 'documentation.document.form.label.removeThumb'|trans }}
                    </button>
                </div>
                {{ form_row(form.removeThumb) }}
            {% endif %}
            {{ form_row(form.pinned) }}
            </div>
        </div>
        {% if form.vars is defined and form.vars.value.createdAt is defined and form.vars.value.createdAt %}

        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Historique
                </h3>
            </div>
            <div class="box-body no-padding">
                <table role="presentation" class="table">
                    <tbody>
                    {% if form.vars.value.creator is defined and form.vars.value.creator and form.vars.value.creator.fullName %}
                    <tr>
                        <td><strong>{{ 'documentation.document.form.label.creator'|trans }}</strong></td>
                        <td>{{ form.vars.value.creator ? form.vars.value.creator.fullName : '' }}</td>
                    </tr>
                    {% endif %}
                    {% if form.vars.value.createdAt is defined and form.vars.value.createdAt %}
                    <tr>
                        <td><strong>{{ 'documentation.document.form.label.created_at'|trans }}</strong></td>
                        <td>{{ form.vars.value.createdAt ? form.vars.value.createdAt.format('d/m/Y H:i') : '' }}</td>
                    </tr>
                    {% endif %}
                    {% if form.vars.value.updatedAt is defined and form.vars.value.updatedAt %}
                    <tr>
                        <td><strong>{{ 'documentation.document.form.label.updated_at'|trans }}</strong></td>
                        <td>{{ form.vars.value.updatedAt ? form.vars.value.updatedAt.format('d/m/Y H:i') : '' }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="box box-solid box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ 'documentation.document.form.title.categories'|trans }}
                </h3>
            </div>
            <div class="box-body">
                {{ form_row(form.categories) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a aria-label="{{ 'documentation.document.action.back_to_list'|trans }}" href="{{ path('documentation_document_list') }}" class="btn btn-default">
                    {{ 'documentation.document.action.back_to_list'|trans }}
                </a>
                <input id="create-document" type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
</div>



{{ form_end(form) }}
