{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_contractor list' %}
{% set menuItem = 'registry_contractor' %}

{% block title %}{{ 'registry.contractor.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.contractor.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.contractor.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'registry.contractor.action.new'|trans }}" href="{{ path('registry_contractor_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.contractor.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a aria-label="{{ 'registry.contractor.action.report'|trans }}" href="{{ path('registry_contractor_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.contractor.action.report'|trans }}
                    </a>
                    {% endif %}
                    {% if category and category.documents|length > 0%}
                        <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                            <i aria-hidden="true" class="fa fa-circle-info"></i>
                            {{ 'documentation.document.link.button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="custom-buttons" style="float:left">
                        <a aria-label="Imprimer" id="print-all"  href="{{ path('registry_contractor_print_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Imprimer
                        </a>
                        <a aria-label="Supprimer" id="delete-all"  href="{{ path('registry_contractor_delete_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Supprimer
                        </a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                                </th>
                            {% endif %}
                            <th scope="col">
                                <select class="form-control" id="search_clauses" style="width: 100%;">
                                    <option value="">Clauses</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_adoption" style="width: 100%;">
                                    <option value="">Sécurité</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_registre" style="width: 100%;">
                                    <option value="">Registre</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_hors_eu" style="width: 100%;">
                                    <option value="">Hors UE</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'registry.contractor.list.name'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'registry.contractor.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'registry.contractor.list.contractual_clauses_verified'|trans }}</th>
                            <th scope="col">{{ 'registry.contractor.list.adopted_security_features'|trans }}</th>
                            <th scope="col">{{ 'registry.contractor.list.maintains_treatment_register'|trans }}</th>
                            <th scope="col">{{ 'registry.contractor.list.sending_data_outside_eu'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.contractor.list.created_at'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.contractor.list.updated_at'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th scope="col">{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = true %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}
    {% if not is_granted('ROLE_USER') %}
        {% set actionIsVisible = false %}
    {% endif %}

    {% set cols = [
        {"data": "nom", "className": "noVis"},
        {"data": "clauses_contractuelles"},
        {"data": "element_securite"},
        {"data": "registre_traitements"},
        {"data": "donnees_hors_eu"},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
    ]
    %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "visible": collectivityIsVisible, "className": collectivityClassname},
            {"data": "clauses_contractuelles"},
            {"data": "element_securite"},
            {"data": "registre_traitements"},
            {"data": "donnees_hors_eu"},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
        ]
        %}
    {% endif %}

    {% set dataTableOptions = {
        columns: cols,
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();
            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}

            oTable.on( 'draw', function () {
                const deleteButton = $('#delete-all')
                const printButton = $('#print-all')
                let deleteLink = "{{ path('registry_contractor_delete_all', { }) }}";
                let printLink = "{{ path('registry_contractor_print_all', { }) }}";
                let count = oTable.data().rows().count();

                if (count) {
                    deleteButton.attr("href", deleteLink);
                    deleteButton.removeClass("disabled");
                    printButton.attr("href", printLink);
                    printButton.removeClass("disabled");
                } else {
                    deleteButton.addClass("disabled");
                    deleteButton.removeAttr("href");
                    printButton.addClass("disabled");
                    printButton.removeAttr("href");
                }
            });

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });


            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_clauses').off('change');
            $('#search_clauses').change(function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            });

            $('#search_adoption').off('change');
            $('#search_adoption').change(function(){
                oTable.column(col + 2).search($(this).val()).draw() ;
            });

            $('#search_registre').off('change');
            $('#search_registre').change(function(){
                oTable.column(col + 3).search($(this).val()).draw() ;
            });

            $('#search_hors_eu').off('change');
            $('#search_hors_eu').change(function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            });

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 5).search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 6).search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em"));

            let exportButton = $("button.dt-button > span:contains('Exporter')").parent();
            $("#delete-all").before(exportButton.css("bottom", "17px") );

        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>
{% endblock %}
