
<table class="table table-bordered" style="text-: center" id="step3-table">
    <tr>
        <th scope="col" title="{{'aipd.scenario_menace.list.title_d'|trans}}" style="width: 3%">D</th>
        <th scope="col" title="{{'aipd.scenario_menace.list.title_i'|trans}}" style="width: 3%">I</th>
        <th scope="col" title="{{'aipd.scenario_menace.list.title_c'|trans}}" style="width: 3%">C</th>
        <th scope="col" style="width: 35%">{{ 'aipd.scenario_menace.list.nom'|trans }}</th>
        <th scope="col" style="width: 12%">{{ 'aipd.scenario_menace.list.vraisemblance'|trans }}</th>
        <th scope="col" style="width: 12%">{{ 'aipd.scenario_menace.list.gravite'|trans }}</th>
        <th scope="col" style="width: 10%">{{ 'aipd.scenario_menace.list.impact_potentiel'|trans }}</th>
        <th scope="col">{{ 'aipd.scenario_menace.list.precision'|trans }}</th>
    </tr>
    {% do form.scenarioMenaces.setRendered() %}
    {% for scenario in form.scenarioMenaces|sort((a, b) => compareStrings(a.vars.value.nom, b.vars.value.nom)) %}
        <tr>
            <td>
                {% if scenario.vars.value.canDicBeModified %}
                    {{ form_widget(scenario.isDisponibilite) }}
                {% else %}
                    {% if scenario.vars.value.isDisponibilite %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if scenario.vars.value.canDicBeModified %}
                    {{ form_widget(scenario.isIntegrite) }}
                {% else %}
                    {% if scenario.vars.value.isIntegrite %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if scenario.vars.value.canDicBeModified %}
                    {{ form_widget(scenario.isConfidentialite) }}
                {% else %}
                    {% if scenario.vars.value.isConfidentialite %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ scenario.vars.value.nom }}</td>
            <td>
                {% if scenario.vars.value.canVraisemblanceBeModified %}
                    {{ form_widget(scenario.vraisemblance) }}
                {% else %}
                    {{ scenario.vars.value.vraisemblance|dictionary('vraisemblance_gravite') }}
                    <div style="display: none">
                        {{ form_widget(scenario.vraisemblance) }}
                    </div>
                {% endif %}
            </td>
            <td>
                {% if scenario.vars.value.canGraviteBeModified %}
                    {{ form_widget(scenario.gravite) }}
                {% else %}
                    {{ scenario.vars.value.gravite|dictionary('vraisemblance_gravite') }}
                    <div style="display: none">
                        {{ form_widget(scenario.gravite) }}
                    </div>
                {% endif %}
            <td class="impact-potentiel">
                {% if scenario.vars.value.gravite is not null and scenario.vars.value.gravite != 'vide' and scenario.vars.value.vraisemblance is not null and scenario.vars.value.vraisemblance != 'vide' %}
                    <span>
                        {{ getScenarioMenaceImpactPotentielLabel(scenario.vars.value)|raw }}
                    </span>
                {% endif %}
            </td>
            <td>{{ form_widget(scenario.precisions) }}</td>
        </tr>
    {% endfor %}
</table>
