<tr>
    <td>{{ form.vars.value.label }}</td>
    <td>
        {% if(form.vars.value.canBeModified == 'non_renseigne') %}
            {{ form_widget(form.reponse) }}
        {% else %}
            <span style="display: none">{{ form_widget(form.reponse) }}</span>
            {{ form.reponse.vars.value|dictionary('reponse_critere_fondamental') }}
        {% endif %}
    </td>
    <td>{{ form_widget(form.justification) }}</td>
    <td>
        {% if form.vars.data and form.vars.data.fichier %}
            <div class="file_{{ form.vars.data.fichier|slice(0,8) }}">
                <a class="exist_file" href="/uploads/aipd/critere_principe_fondamentaux/fichier/{{ form.vars.data.fichier }}">Fichier existant</a><br/>
                <a href="#" class="remove_file" id="{{ form.vars.data.fichier }}">Enlever le fichier joint</a>
            </div>
        {% endif %}
        <span>
            {{ form_widget(form.fichierFile) }}
        </span>
        {{ form_errors(form.fichierFile) }}
    </td>
</tr>
