{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_analyse_impact list' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'aipd.analyse_impact.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}


{% block body_head %}
    <h1>
        {% if flow.getCurrentStepNumber() == 1 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 1 sur 5 : Description' %}
        {% elseif flow.getCurrentStepNumber() == 2 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 2 sur 5 : Conformité' %}
        {% elseif flow.getCurrentStepNumber() == 3 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 3 sur 5 : Gestion des risques' %}
        {% elseif flow.getCurrentStepNumber() == 4 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 4 sur 5 : Mesures' %}
        {% endif %}
        {{ 'aipd.analyse_impact.title.list'|trans }}
        <small>{{ smallTitle }}</small>
    </h1>
{% endblock %}


{% block body %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />

    {{ form_start(form) }}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    {% if flow.getCurrentStepNumber() == 1 %}
                        <p class="no-margin">Cette étape permet d’analyser la conformité des critères relatifs à la description du traitement. Pour chaque description, indiquer le niveau de conformité, et éventuellement une justification et une image.</p>
                    {% elseif flow.getCurrentStepNumber() == 2 %}
                        <p class="no-margin">Cette étape permet de prendre connaissance des informations renseignées par l’évaluation de la conformité du traitement. Pour chaque critère, justifier le contexte lorsque cela est possible.</p>
                    {% elseif flow.getCurrentStepNumber() == 3 %}
                        <p class="no-margin">Cette étape permet d’évaluer l’impact potentiel des différents scénarios de menace. Pour chaque scénario de menace, lorsque cela est possible, indiquer le critère DIC (<b>D</b>isponibilité ; <b>I</b>ntégrité ; <b>C</b>onfidentialité) ainsi que la vraisemblance et la gravité des menaces. Adapter la précision en fonction du contexte.</p>
                    {% elseif flow.getCurrentStepNumber() == 4 %}
                        <p class="no-margin">Cette étape permet d’évaluer les mesures de protection mises en œuvre. Pour chacune des mesures, indiquer le niveau de mise en œuvre et adapter le détail en fonction.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    {% if flow.getCurrentStepNumber() == 1 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_1.html.twig' with { form: form } %}
                    {% elseif flow.getCurrentStepNumber() == 2 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_2.html.twig' with {
                            form: form
                        } %}
                    {% elseif flow.getCurrentStepNumber() == 3 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_3.html.twig' with {
                            form: form
                        } %}
                    {% elseif flow.getCurrentStepNumber() == 4 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_4.html.twig' with {
                            form: form
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a  href="{{ path('aipd_analyse_impact_list') }}" class="btn btn-default">{{ 'action.back_to_list'|trans }}</a>
                    {% include '@templates_path/_Utils/_craue_buttons.html.twig' with {
                        craue_formflow_button_class_last: 'btn btn-primary',
                        craue_formflow_button_class_back: 'btn btn-default',
                        craue_formflow_button_render_reset: false,
                        craue_formflow_button_label_next: 'Suivant',
                        craue_formflow_button_label_back: 'Précédent',
                        craue_formflow_button_label_finish: 'Enregistrer',
                    } %}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
