<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.17/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.17/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <style>
        .content-wrapper {
            background-color: white !important;
            z-index: 800;
        }

        h1 {
            text-align: center;
            font-size: 55px;
        }

        h1, h2, h3, h4 {
            color: #3674b6;
        }
        table {
            border: 1px solid black;
        }

        .table-bluecell {
            background: #3674b6;
            color: white;
            width: 45%;
        }
        .separator {
            height: 25px;
        }

        .annexe-head {
            color: #3674b6;
            font-size: 1.2em;
            margin-top: 20px;
        }
        .annexe-prelink {
            margin-left: 25px;
        }
        .annexe-link {
            color: #3674b6;
        }

        .table-indicateur-head {
            background: #808080;
            color: white;
            text-align: center;
        }
        .table-indicateur-maximale {
            background: #c00000;
            color: white;
            text-align: center;
        }
        .table-indicateur-importante {
            background: #ed7d31;
            text-align: center;
        }
        .table-indicateur-limitee {
            background: #ffc000;
            text-align: center;
        }
        .table-indicateur-negligeable {
            background: #6fad47;
            text-align: center;
        }
        .reportGraph {
            width:900px
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="content-wrapper">
    <section class="content-header">
        <h1 style="font-size: 55px">Analyse d'Impact relative à la Protection des Données</h1>
        <div class="separator"></div>
        <div style="text-align: center; font-size: 2em"> Instruction du dossier</div>
    </section>

    <div class="content container-fluid">

        <div class="row" style="text-align: center"><h2>{{ object.conformiteTraitement.traitement.name }}</h2></div>
        <div class="row" style="text-align: center"><h2>{{ object.conformiteTraitement.traitement.collectivity.name }}</h2></div>

        <div class="separator"></div>
        <div class="separator"></div>
        <div class="row">
            <div><strong style="font-size: 1.6em; margin-left:30px;">Responsable du traitement</strong></div>
            <span style="font-size: 1.2em; margin-left:45px;">{{ object.conformiteTraitement.traitement.collectivity.legalManager.civility|dictionary('user_contact_civility') }} {{ object.conformiteTraitement.traitement.collectivity.legalManager.firstName }} {{ object.conformiteTraitement.traitement.collectivity.legalManager.lastName }}</span>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div><strong style="font-size: 1.6em; margin-left:30px;">Référent RGPD</strong></div>
            <span style="font-size: 1.2em; margin-left:45px;">{{ object.conformiteTraitement.traitement.collectivity.referent.civility|dictionary('user_contact_civility') }} {{ object.conformiteTraitement.traitement.collectivity.referent.firstName }} {{ object.conformiteTraitement.traitement.collectivity.referent.lastName }}</span>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div><strong style="font-size: 1.6em; margin-left:30px;">Délégué à la Protection des Données</strong></div>
            {% if object.conformiteTraitement.traitement.collectivity.differentDpo %}
                <span style="font-size: 1.2em; margin-left:45px;">{{ object.conformiteTraitement.traitement.collectivity.dpo.civility|dictionary('user_contact_civility') }} {{ object.conformiteTraitement.traitement.collectivity.dpo.firstName }} {{ object.conformiteTraitement.traitement.collectivity.dpo.lastName }}</span>
            {% else %}
                <span style="font-size: 1.2em; margin-left:45px;">{{ default_dpo_civility|dictionary('user_contact_civility') }} {{ default_dpo_firstName }} {{ default_dpo_lastName }}<br/></span>
                <span style="font-size: 1.2em; margin-left:45px;">{{ default_dpo_address_street }}<br/></span>
                <span style="font-size: 1.2em; margin-left:45px;">{{ default_dpo_address_zip_code }} {{ default_dpo_address_city}}</span>
            {% endif %}
        </div>
        <div class="separator"></div>
        <div class="row">
            <div>
                <strong style="font-size: 1.6em; margin-left:30px;">Date de validation de l’AIPD : </strong>
                <strong style="font-size: 1.6em; margin-left:150px;">Signature du Responsable du Traitement</strong>
            </div>
            <span style="font-size: 1.2em; margin-left:45px;">{{ (object.conformiteTraitement.analyseImpacts|first).dateValidation|date('d/m/Y') }}</span>
        </div>

        <div  style="page-break-before: always;"></div>
        <div class="separator"></div>
        <h1 style="text-align: center;">Sommaire</h1>
        <div class="separator"></div>
        <div class="separator"></div>
        <h2>1. Préambule</h2>
        <h3 style="margin-left: 30px">1.1 Méthode d'une Analyse d'Impact relative à la Protection des Données</h3>
        <h3 style="margin-left: 30px">1.2 Conformité d’une Analyse d’Impact relative à la Protection des Données</h3>
        <h2>2. Étude du contexte</h2>
        <h2>3. Études des principes fondamentaux</h2>
        <h2>4. Études des risques liés à la sécurité des données</h2>
        <h3 style="margin-left: 30px">4.1 Évaluation des risques sur les droits et les libertés des personnes concernées</h3>
        <h3 style="margin-left: 30px">4.2 Évaluation de l'impact et matrice de décision</h3>
        <h3 style="margin-left: 30px">4.3 Mesure(s) de réduction des risques envisagée(s)</h3>
        <h3 style="margin-left: 30px">4.4 Risques résiduels</h3>
        <h2>5. Validation de l'AIPD</h2>
        <h3 style="margin-left: 30px">Avis des personnes consultées</h3>
        <h2>6. Annexes</h2>
        <h3 style="margin-left: 30px">6.1 Glossaire</h3>
        <h3 style="margin-left: 30px">6.2 Références</h3>
        <h3 style="margin-left: 30px">6.3 Fiche de traitement</h3>


        <div  style="page-break-before: always;">
            <h2>1. Préambule</h2>
        </div>
        <div>Le présent document contient tous les éléments nécessaires pour le Responsable de Traitement (RT), le Référent RGPD (RR) et le Délégué à la Protection des Données (DPD) pour mener à bien une Analyse d'Impact relative à la Protection des Données (le sigle AIPD sera utilisé dans la suite de ce document) conforme aux attentes de la CNIL.</div>
        <div>Il est possible de retrouver l'ensemble des éléments produits dans ce document dans le logiciel MADIS.</div>

        <h3>1.1 Méthode d'une Analyse d'Impact relative à la Protection des Données</h3>
        <div>La démarche pour réaliser une analyse d'impact comprend quatre étapes :</div>
        <div style="margin-left:50px;">1- Délimiter et décrire le contexte du(des) traitement(s) considéré(s);</div>
        <div style="margin-left:50px;">2- Analyser les mesures garantissant le respect des principes fondamentaux : la proportionnalité et la nécessité du traitement, et la protection des droits des personnes concernées;</div>
        <div style="margin-left:50px;">3- Apprécier les risques sur la vie privée liés à la sécurité des données et vérifier qu’ils sont convenablement traités ;</div>
        <div style="margin-left:50px;">4- Formaliser la validation du PIA au regard des éléments précédents ou bien décider de réviser les étapes précédentes.</div>

        <div style="text-align: center"><img src="{{ base_dir ~ asset("images/cycleAIPD.jpg") }}" height="300" alt="CycleAIPD"></div>

        <div>Il s'agit d'un <strong>processus d'amélioration continue</strong>. Il requiert donc parfois plusieurs itérations pour parvenir à un dispositif de protection de la vie privée acceptable. Il requiert en outre une surveillance des évolutions dans le temps (du contexte, des mesures, des risques, etc.), par exemple tous les ans, et des mises à jour dès qu'une évolution significative a lieu.</div>
        <div>La démarche devrait être employée <strong>dès la conception d'un nouveau traitement de données à caractère personnel</strong>. En effet, une application en amont permet de déterminer les mesures nécessaires et suffisantes, et donc d'optimiser les coûts. A contrario, une application tardive, alors que le système est déjà créé et les mesures en place, peut remettre en question les choix effectués.</div>

        <h3>1.2 Conformité d’une Analyse d’Impact relative à la Protection des Données</h3>
        <div>L’objectif est d’obtenir la conformité du traitement grâce à l’AIPD</div>
        <div class="separator"></div>
        <div style="text-align: center"><img src="{{ base_dir ~ asset("images/ConformiteAIPD.png") }}" width="800" alt="ConformitéAIPD"></div>

        <div  style="page-break-before: always;"></div>
        <h2>2. Étude du contexte</h2>
        <div>Ce chapitre a pour objectif de fournir une vision claire de la structure et du traitement de données personnelles considéré</div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <td class="table-bluecell">Nature du traitement</td>
                    <td>{{ object.conformiteTraitement.traitement.name }}</td>
                </tr>
            </table>
            <div class="separator"></div>
            {% set critere = object.criterePrincipeFondamentalByCode('contexte_traitement') %}
            {% if critere and critere.reponse != 'non_renseigne' %}
                <table class="table table-bordered">
                    <tr>
                        <td class="table-bluecell">{{ critere.labelLivrable }}</td>
                        <td>
                            La conformité :
                            {% if critere.reponse == 'conforme' %}
                                <span class="label label-success" style="min-width: 50px; display: inline-block;">{{ critere.texteConformite }}</span>
                            {% elseif critere.reponse == 'non_conforme' %}
                                <span class="label label-danger" style="min-width: 50px; display: inline-block;">{{ critere.texteNonConformite }}</span>
                            {% elseif critere.reponse == 'non_applicable' %}
                                <span class="label label-warning" style="min-width: 50px; display: inline-block;">{{ critere.texteNonApplicable }}</span>
                            {% endif %}
                            <br/>
                            {% if critere.justification is not null %}
                                <i>Justification : </i>{{ critere.justification }}<br />
                            {% endif %}
                        </td>
                    </tr>
                    {% if critere.fichier %}
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <img src="{{ base_dir ~ asset('/uploads/aipd/critere_principe_fondamentaux/fichier/' ~ critere.fichier)}}" style="max-width:800px" alt="Contexte du traitement {{ critere.label }} - {{ critere.reponse|dictionary('reponse_critere_fondamental') }}">
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div class="separator"></div>
            {% endif %}

            {% set critere = object.criterePrincipeFondamentalByCode('portee_traitement') %}
            {% if critere and critere.reponse != 'non_renseigne' %}
                <table class="table table-bordered">
                    <tr>
                        <td class="table-bluecell">{{  critere.labelLivrable }}</td>
                        <td>
                            La conformité :
                            {% if critere.reponse == 'conforme' %}
                                <span class="label label-success" style="min-width: 50px; display: inline-block;">{{ critere.texteConformite }}</span>
                            {% elseif critere.reponse == 'non_conforme' %}
                                <span class="label label-danger" style="min-width: 50px; display: inline-block;">{{ critere.texteNonConformite }}</span>
                            {% elseif critere.reponse == 'non_applicable' %}
                                <span class="label label-warning" style="min-width: 50px; display: inline-block;">{{ critere.texteNonApplicable }}</span>
                            {% endif %}
                            <br/>
                            {% if critere.justification is not null %}
                                <i>Justification : </i>{{ critere.justification }}<br />
                            {% endif %}
                        </td>
                    </tr>
                    {% if critere.fichier %}
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <img src="{{ base_dir ~ asset('/uploads/aipd/critere_principe_fondamentaux/fichier/' ~ critere.fichier)}}" style="max-width:800px" alt="Contexte du traitement {{ critere.label }} - {{ critere.reponse|dictionary('reponse_critere_fondamental') }}">
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div class="separator"></div>
            {% endif %}


            <table class="table table-bordered">
                <tr>
                    <td class="table-bluecell">Finalité(s) du traitement</td>
                    <td>
                        {{ object.conformiteTraitement.traitement.goal }}</td>
                </tr>
            </table>
            <div class="separator"></div>
            <table class="table table-bordered">
                <tr>
                    <td class="table-bluecell">Données à caractère personnel</td>
                    <td>
                        {% for category in object.conformiteTraitement.traitement.dataCategories %}
                            {{ category }}<br/>
                        {% endfor %}
                        {{ object.conformiteTraitement.traitement.dataCategoryOther }}
                    </td>
                </tr>
            </table>
            <div class="separator"></div>
            <table class="table table-bordered">
                <tr>
                    <td class="table-bluecell">Destinataires</td>
                    <td>
                        {{ object.conformiteTraitement.traitement.recipientCategory }}
                        {% for contractor in object.conformiteTraitement.traitement.contractors %}
                            <br/>{{ contractor }}
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <div class="separator"></div>
            <table class="table table-bordered">
                <tr>
                    <td class="table-bluecell">Délais de conservation</td>
                    <td>
                        {% for duration in object.conformiteTraitement.traitement.shelfLifes %}
                            {{ duration.name }} - {{ duration.duration }} - {{ duration.ultimateFate }} <br/>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <div class="separator"></div>
            {% set critere = object.criterePrincipeFondamentalByCode('identification_biens') %}
            {% if critere and critere.reponse != 'non_renseigne' %}
                <table class="table table-bordered">
                    <tr>
                        <td class="table-bluecell">{{  critere.labelLivrable }}</td>
                        <td>
                            La conformité :
                            {% if critere.reponse == 'conforme' %}
                                <span class="label label-success" style="min-width: 50px; display: inline-block;">{{ critere.texteConformite }}</span>
                            {% elseif critere.reponse == 'non_conforme' %}
                                <span class="label label-danger" style="min-width: 50px; display: inline-block;">{{ critere.texteNonConformite }}</span>
                            {% elseif critere.reponse == 'non_applicable' %}
                                <span class="label label-warning" style="min-width: 50px; display: inline-block;">{{ critere.texteNonApplicable }}</span>
                            {% endif %}
                            <br/>
                            {% if critere.justification is not null %}
                                <i>Justification : </i>{{ critere.justification }}<br />
                            {% endif %}
                        </td>
                    </tr>
                    {% if critere.fichier %}
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <img src="{{ base_dir ~ asset('/uploads/aipd/critere_principe_fondamentaux/fichier/' ~ critere.fichier)}}" style="max-width:800px" alt="Contexte du traitement {{ critere.label }} - {{ critere.reponse|dictionary('reponse_critere_fondamental') }}">
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div class="separator"></div>
            {% endif %}

            {% set critere = object.criterePrincipeFondamentalByCode('description_fonctionnelle') %}
            {% if critere and critere.reponse != 'non_renseigne' %}
                <table class="table table-bordered">
                    <tr>
                        <td class="table-bluecell">{{  critere.labelLivrable }}</td>
                        <td>
                            La conformité :
                            {% if critere.reponse == 'conforme' %}
                                <span class="label label-success" style="min-width: 50px; display: inline-block;">{{ critere.texteConformite }}</span>
                            {% elseif critere.reponse == 'non_conforme' %}
                                <span class="label label-danger" style="min-width: 50px; display: inline-block;">{{ critere.texteNonConformite }}</span>
                            {% elseif critere.reponse == 'non_applicable' %}
                                <span class="label label-warning" style="min-width: 50px; display: inline-block;">{{ critere.texteNonApplicable }}</span>
                            {% endif %}
                            <br/>
                            {% if critere.justification is not null %}
                                <i>Justification : </i>{{ critere.justification }}<br />
                            {% endif %}
                        </td>
                    </tr>
                    {% if critere.fichier %}
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <img src="{{ base_dir ~ asset('/uploads/aipd/critere_principe_fondamentaux/fichier/' ~ critere.fichier)}}" style="max-width:800px" alt="Contexte du traitement {{ critere.label }} - {{ critere.reponse|dictionary('reponse_critere_fondamental') }}">
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div class="separator"></div>
            {% endif %}
            {% set critere = object.criterePrincipeFondamentalByCode('conformite_code') %}
            {% if critere and critere.reponse != 'non_renseigne' %}
                <table class="table table-bordered">
                    <tr>
                        <td class="table-bluecell">{{  critere.labelLivrable }}</td>
                        <td>
                            La conformité :
                            {% if critere.reponse == 'conforme' %}
                                <span class="label label-success" style="min-width: 50px; display: inline-block;">{{ critere.texteConformite }}</span>
                            {% elseif critere.reponse == 'non_conforme' %}
                                <span class="label label-danger" style="min-width: 50px; display: inline-block;">{{ critere.texteNonConformite }}</span>
                            {% elseif critere.reponse == 'non_applicable' %}
                                <span class="label label-warning" style="min-width: 50px; display: inline-block;">{{ critere.texteNonApplicable }}</span>
                            {% endif %}
                            <br/>
                            {% if critere.justification is not null %}
                                <i>Justification : </i>{{ critere.justification }}<br />
                            {% endif %}
                        </td>
                    </tr>
                    {% if critere.fichier %}
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <img src="{{ base_dir ~ asset('/uploads/aipd/critere_principe_fondamentaux/fichier/' ~ critere.fichier)}}" style="max-width:800px" alt="Contexte du traitement {{ critere.label }} - {{ critere.reponse|dictionary('reponse_critere_fondamental') }}">
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div class="separator"></div>
            {% endif %}
        </div>

        <div  style="page-break-before: always;"></div>
        <h2>3. Études des principes fondamentaux</h2>
        <div>Ce chapitre a pour objectif de s’assurer que le dispositif relatif aux principes de protection de la vie privée est conforme.</div>
        <div class="separator"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Conformité</th>
                </tr>
            </thead>
            {% for critere in object.criterePrincipeFondamentaux %}
                <tr>
                    <td>{{ critere.labelLivrable }}</td>
                    <td>{{ getCritereLabel(critere)|raw }}</td>
                </tr>
            {% endfor %}
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Principes fondamentaux</th>
                    <th>Conformité</th>
                </tr>
            </thead>
            <tbody>
            {% for questionConformite in object.questionConformites|sort((a, b) => a.position >= b.position) %}
                <tr>
                    {% set reponse = object.conformiteTraitement.getReponseOfName(questionConformite.question) %}
                    <td>{{ questionConformite.question }}
                        {% if questionConformite.justificatif is not null %}
                            <div style="margin-left: 20px;font-size:12px;">
                                <span>Justification : {{ questionConformite.justificatif }}</span>
                            </div>
                        {% endif %}

                        {% if reponse and (reponse.actionProtections is not null) and (reponse.actionProtections|length > 0) %}
                            <div style="margin-left: 20px;font-size:12px;">
                                <span>Actions associées : </span>
                            </div>
                            <ul>
                                {% for action in reponse.actionProtections %}
                                    <li style="margin-left: 20px;font-size:12px;">{{action.name}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    {% if reponse and reponse.conforme %}
                        <td><span class="label label-success" style="min-width: 100%; display: inline-block;"> Conforme</span></td>
                    {% else %}
                        {% if reponse and reponse.actionProtections|length > 0 %}
                            <td><span class="label label-warning" style="min-width: 100%; display: inline-block;"> Non-conforme mineure</span></td>
                        {% else%}
                            <td><span class="label label-danger" style="min-width: 100%; display: inline-block;"> Non-conforme majeure</span></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>Le graphique ci-dessous indique les points d’amélioration nécessaires au respect des principes fondamentaux du règlement.</div>
        <div class="reportGraph"><canvas id="grandsDomaines-chart"></canvas></div>
        <div  style="page-break-before: always;"></div>
        <h2>4. Études des risques liés à la sécurité des données</h2>
        <div>Ce chapitre a pour objectifs d'obtenir une bonne connaissance des mesures contribuant à la sécurité et d'apprécier les risques.</div>
        <h3>4.1 Évaluation des risques sur les droits et les libertés des personnes concernées</h3>
        <div style="text-align: center"><img src="{{ base_dir ~ asset("images/NiveauRisque.png") }}" height="300" alt="Niveau risque"></div>
        <table class="table table-bordered">
            <tr class="table-indicateur-head">
                <td>Niveaux</td>
                <td>Descriptions génériques de l'échelle de gravité</td>
            </tr>
            <tr>
                <td class="table-indicateur-maximale">Maximale</td>
                <td>Les personnes concernées pourraient connaître des conséquences significatives, voire irrémédiables, qu'elles pourraient ne pas surmonter</td>
            </tr>
            <tr>
                <td class="table-indicateur-importante">Importante</td>
                <td>Les personnes concernées pourraient connaître des conséquences significatives, qu'elles devraient pouvoir surmonter, mais avec des difficultés réelles et significatives</td>
            </tr>
            <tr>
                <td class="table-indicateur-limitee">Limitée</td>
                <td>Les personnes concernées pourraient connaître des désagréments significatifs, qu'elles pourront surmonter malgré quelques difficultés</td>
            </tr>
            <tr>
                <td class="table-indicateur-negligeable">Négligeable</td>
                <td>Les personnes concernées ne seront pas impactés ou pourraient connaître quelques désagréments, qu'elles surmonteront sans difficulté</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr class="table-indicateur-head">
                <td>Niveaux</td>
                <td>Descriptions génériques de l'échelle de vraisemblance</td>
            </tr>
            <tr>
                <td class="table-indicateur-maximale">Maximale</td>
                <td>Il semble extrêmement facile pour les sources des risques retenues de réaliser la menace en s'appuyant sur les caractéristiques des supports (ex: vol de supports papier stockés dans le hall public de la structure).</td>
            </tr>
            <tr>
                <td class="table-indicateur-importante">Importante</td>
                <td>Il semble possible pour les sources de risques retenues de réaliser la menace en s'appuyant sur les caractéristiques des supports (ex: vol de supports papiers stockés dans les bureaux d'une structure dont l'accès est contrôlé par une personne à l'accueil).</td>
            </tr>
            <tr>
                <td class="table-indicateur-limitee">Limitée</td>
                <td>Il semble difficile pour les sources de risques retenues de réaliser la menace en s'appuyant sur les caractéristiques des supports (ex: vol de supports papiers stockés dans un local de la structure dont l'accès est contrôlé par badge).</td>
            </tr>
            <tr>
                <td class="table-indicateur-negligeable">Négligeable</td>
                <td>Il ne semble pas possible que les sources de risques retenues puissent réaliser la menace en s'appuyant sur les caractéristiques des supports (ex: vol de supports papiers stockés dans un local de la structure dont l'accès est contrôlé par badge et code d'accès).</td>
            </tr>
        </table>
        <div style="text-align: center"><img src="{{ base_dir ~ asset("images/matriceAIPD.png") }}" height="300" alt="MatriceAIPD"></div>

        <div  style="page-break-before: always;"></div>
        <h3>4.2 Évaluation de l'impact et matrice de décision</h3>
        <div>Le tableau ci-dessous identifie des scénarios de menaces pour lesquels une évaluation est réalisée sur la vraisemblance (risques d’occurrence) et la gravité (conséquences en cas d’évènement). D, I et C représentent les critères de classification de l'information : <b>D</b>isponibilité, <b>I</b>ntégrité, <b>C</b>onfidentialité. </div>
        <table class="table table-bordered">
            <tr>
                <th>D</th>
                <th>I</th>
                <th>C</th>
                <th>Scénario de menace</th>
                <th>Vraisemblance</th>
                <th>Gravité</th>
                <th>Impact potentiel</th>
            </tr>
            {% for scenario in object.scenarioMenaces|sort((a,b) => a.nom <=> b.nom) %}
                <tr>
                    <td>{% if scenario.isDisponibilite %}X{% endif %}</td>
                    <td>{% if scenario.isIntegrite %}X{% endif %}</td>
                    <td>{% if scenario.isConfidentialite %}X{% endif %}</td>
                    <td>{{ scenario.nom }}</td>
                    <td>{{ scenario.vraisemblance|dictionary('vraisemblance_gravite') }}</td>
                    <td>{{ scenario.gravite|dictionary('vraisemblance_gravite') }}</td>
                    <td>{{ getScenarioMenaceImpactPotentielLabel(scenario)|raw }}</td>
                </tr>
            {% endfor %}
        </table>
        <div>La CNIL préconise d’accepter les risques uniquement lorsque l’impact est négligeable. Dans les autres cas, il faudra apporter des mesures de protection supplémentaires pour venir corriger les anomalies identifiées. Dans le cas où le risque est maximal et que les mesures ne sont pas jugées suffisantes, il conviendra de solliciter l’avis de la CNIL.</div>
        <div>La matrice de décision ci-dessous vous informe du comportement attendu par la CNIL selon le niveau d'impact identifié :</div>
        <div style="text-align: center"><img src="{{ base_dir ~ asset("images/MatriceDecision.png") }}" height="300" alt="MatriceDecision"></div>
        <br/>
        <h3 style="page-break-before: always">4.3 Mesure(s) de réduction des risques mise(s) en place</h3>
        <div>Le radar ci-dessous présente les mesures déjà mises en place dans la structure pour réduire l’ensemble des risques identifiés.</div>
        <div class="reportGraph"><canvas id="mesuresSecurite-chart"></canvas></div>
        <div class="box box-solid box-primary">
            <div class="box-header with-border">Mesures de protection</div>
            <table class="table table-bordered" style="page-break-inside: avoid">
                <tr>
                    <th>Mesure</th>
                    <th>Avis sur les mesures existantes</th>
                    <th>Évaluation</th>
                    <th>Préconisations</th>
                </tr>

                {% set mesures = [] %}
                {% for scenario in object.scenarioMenaces %}
                    {% for mesure in scenario.mesuresProtections %}
                        {% if mesure not in mesures %}
                            {% set mesures = mesures|merge([mesure])%}
                        {% endif%}
                    {% endfor %}
                {% endfor %}
                {% for element in mesures|sort((a, b) => a.labelLivrable >= b.labelLivrable) %}
                    <tr>
                        <td>{{ element.labelLivrable }}</td>
                        <td>{{ element.detail }}</td>
                        <td>{% if element.reponse in reponsedictionary(object)|keys %}
                                {{ element.reponse|reponsedictionary(object) }}
                            {% else %}
                                {{ element.reponse }}
                            {% endif %}
                        </td>
                        {% if element.reponse is same as "satisfaisant" %}
                            <td></td>
                        {% else %}
                            <td>{{ element.phrasePreconisation }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div  style="page-break-before: always;"></div>
        <h3>4.4 Risques résiduels</h3>
        <div>Les risques résiduels correspondent aux risques non traités à ce jour ou pour lesquels des préconisations ont été formulées (voir actions conseillées par le DPD).</div>
        <div class="reportGraph"><canvas id="risquesResiduels-chart"></canvas></div>
        <br/>
        <div class="box box-solid box-primary">
            <div class="box-header with-border">{{ 'aipd.analyse_impact.values.evaluation.gestion_risques'|trans }}</div>
            <div class="box-body">
                <table class="table table-bordered" style="page-break-inside: avoid">
                    <tr>
                        <th>{{ 'aipd.scenario_menace.list.nom'|trans }}</th>
                        <th style="width: 20%;">{{ 'aipd.scenario_menace.list.impact_potentiel'|trans }}</th>
                        <th style="width: 20%;">{{ 'aipd.scenario_menace.list.impact_résiduel'|trans }}</th>
                    </tr>
                    {% set mesureProtectionNotNegligeable = [] %}
                    {% for scenario in object.scenarioMenaces|sort((a, b) => a.nom >= b.nom) %}
                        {% if isScenarioMenaceImpactResiduelImpactNotNegligeable(scenario) %}
                            {% for mesure in scenario.mesuresProtections %}
                                {% if mesure not in mesureProtectionNotNegligeable %}
                                    {% set mesureProtectionNotNegligeable = mesureProtectionNotNegligeable|merge([mesure]) %}
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td>{{ scenario.nom }}</td>
                                <td>{{ getScenarioMenaceImpactPotentielLabel(scenario)|raw }}</td>
                                <td>{{ getScenarioMenaceImpactResiduelLabel(scenario)|raw }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <p>Le graphique ci dessous représente les risques résiduels sur la disponibilité, l'intégrité et la confidentialité des données à caractère personnel</p>
        <div class="reportGraph"><canvas id="dicResiduels-chart"></canvas></div>
        <div>Le plan d’action ci-après présente les mesures de sécurité liées aux seuls scénarios de menaces dont l’impact est refusé.</div>
        <div class="box box-solid box-primary">
            <div class="box-header with-border">Actions conseillées par le DPD à mettre en place</div>
            <div class="box-body">
                <table class="table table-bordered" style="page-break-inside: avoid">
                    <tr>
                        <th>Mesure</th>
                        <th>Préconisations</th>
                    </tr>
                    {% for mesure in mesureProtectionNotNegligeable|sort((a, b) => a.labelLivrable >= b.labelLivrable) %}
                         <tr>
                            <td>{{ mesure.labelLivrable }}</td>
                            <td>{{ mesure.phrasePreconisation }}</td>
                         </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div  style="page-break-before: always;"></div>
        <h2>5. Validation de l'AIPD</h2>
        <div>Ce chapitre a pour objectifs de permettre la prise de décision visant à accepter ou non l'AIPD au regard des résultats de l'étude.</div>

        <h3>Avis des personnes consultées</h3>
        <table class="table table-bordered" style="page-break-inside: avoid">
            <tr>
                <td class="table-bluecell">Avis du référent RGPD</td>
                <td>{{ object.avisReferent.reponse|dictionary('reponse_avis') }}</td>
            </tr>
            <tr><td colspan="2">{{ object.avisReferent.date|date('d/m/Y') }}</td></tr>
            <tr><td colspan="2">{% if object.avisReferent.detail is not null %}{{ object.avisReferent.detail }}{% else %}{% endif %}</td></tr>
            <tr style="height: 80px"><td colspan="2">Signature : </td></tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <td class="table-bluecell">Avis du délégué à la protection des données</td>
                <td>{{ object.avisDpd.reponse|dictionary('reponse_avis') }}</td>
            </tr>
            <tr><td colspan="2">{{ object.avisDpd.date|date('d/m/Y') }}</td></tr>
            <tr><td colspan="2">{% if object.avisDpd.detail is not null %}{{ object.avisDpd.detail }}{% else %}{% endif %}</td></tr>
            <tr style="height: 80px"><td colspan="2">Signature : </td></tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <td class="table-bluecell">Avis des représentants des personnes concernées</td>
                <td>{{ object.avisRepresentant.reponse|dictionary('reponse_avis') }}</td>
            </tr>
            <tr><td colspan="2">{{ object.avisRepresentant.date|date('d/m/Y') }}</td></tr>
            <tr><td colspan="2">{% if object.avisRepresentant.detail is not null %}{{ object.avisRepresentant.detail }}{% else %}{% endif %}</td></tr>
            <tr style="height: 80px"><td colspan="2">Signature : </td></tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <td class="table-bluecell">Décision du responsable de traitement</td>
                <td>{{ object.avisResponsable.reponse|dictionary('reponse_avis') }}</td>
            </tr>
            <tr><td colspan="2">{{ object.avisResponsable.date|date('d/m/Y') }}</td></tr>
            <tr><td colspan="2">{% if object.avisResponsable.detail is not null %}{{ object.avisResponsable.detail }}{% else %}{% endif %}</td></tr>
            <tr style="height: 80px"><td colspan="2">Signature : </td></tr>
        </table>

{#            //////////////////////////////////////#}
{#            /////////////// Annexes //////////////#}
{#            //////////////////////////////////////#}
            <div style="page-break-before: always;"></div>
            <h2>6. Annexes</h2>
            <h3>6.1 Glossaire</h3>
            <div class="annexe-head">Donnée à caractère personnel</div>
            <div>Toute information se rapportant à une personne physique identifiée ou identifiable (ci-après dénommée "personne concernée"); est réputée pour être une "personne physique identifiable" une personne physique qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.</div>
            <div class="annexe-head">Événement redouté</div>
            <div>Violation potentielle de données pouvant mener à des impacts sur la vie privée des personnes concernées.</div>
            <div class="annexe-head">Gravité</div>
            <div>Estimation de l'ampleur des impacts potentiels sur la vie privée des personnes concernées.</div>
            <div class="annexe-head">Menace</div>
            <div>Mode opératoire composé d'une ou plusieurs actions unitaires sur des supports de données.</div>
            <div class="annexe-head">Mesure</div>
            <div>Action à entreprendre.</div>
            <div class="annexe-head">Personnes concernées</div>
            <div>Personnes auxquelles se rapportent les données qui font l'objet du traitement.</div>
            <div class="annexe-head">Responsable de traitement</div>
            <div>La personne physique ou morale, l'autorité publique, le service ou une autre structure qui, seul ou conjointement avec d'autres, détermine les finalités et les moyens du traitement ; lorsque les finalités et les moyens de ce traitement sont déterminés par le droit de l'Union ou le droit d'un État membre, le responsable du traitement peut être désigné ou les traitements spécifiques applicables à sa désignation peuvent être prévus par le droit de l'Union ou par le droit d'un État membre.</div>
            <div class="annexe-head">Traitement de données à caractère personnel (traitement)</div>
            <div>Tout opération ou tout ensemble d'opérations effectuées ou non à l'aide de procédés automatisés et appliqués à des données ou des ensembles de données à caractère personnel, tel que la collecte, l'enregistrement, la structure, la structuration, la conservation, l'adaptation ou la modification, l'extraction, la consultation, l'utilisation, la communication par transmission, la diffusion ou tout autre forme de mise à disposition, le rapprochement ou l'interconnexion, la limitation, l'effacement ou la destruction.</div>
            <div class="annexe-head">Vraisemblance</div>
            <div>Estimation de la possibilité qu'un risque se réalise.</div>

            <h3>6.2 Références</h3>
            <div class="annexe-head">CNIL / CEPD</div>
            <div class="annexe-link">https://www.cnil.fr/fr/ce-quil-faut-savoir-sur-lanalyse-dimpact-relative-la-protection-des-donnees-aipd</div>
            <div class="annexe-link">https://www.cnil.fr/fr/nouveautes-sur-le-pia-guides-outil-piaf-etude-de-cas</div>
            <div class="annexe-link">https://www.cnil.fr/fr/collectivites-territoriales</div>
            <div class="annexe-link">https://www.edpb.europa.eu/our-work-tools/our-documents/publication-type/guidelines_fr</div>

            <div class="annexe-head">ANSSI</div>
            <div class="annexe-prelink">- EBIOS RM : Méthode d'analyse des risques</div>
            <div class="annexe-link">https://www.ssi.gouv.fr/guide/la-methode-ebios-risk-manager-le-guide</div>
            <div class="annexe-prelink">- Lien RGS / RGPD</div>
            <div class="annexe-link">https://www.ssi.gouv.fr/administration/reglementation/rgpd-renforcer-la-securite-des-donnees-a-caractere-personnel</div>

            <div class="annexe-head">CLUSIF</div>
            <div class="annexe-prelink">- Méhari</div>
            <div class="annexe-link">https://clusif.fr/services/management-des-risques/les-fondamentaux-de-mehari/</div>

            <div class="annexe-head">ISO</div>
            <div class="annexe-prelink">- ISO/IEC 27701:2019 -Technique de sécurité - Extension d'ISO/IEC 27001 et ISO/IEC 27002 au management de la protection de la vie privée - Exigences et lignes directrices</div>
            <div class="annexe-link">https://www.iso.org/fr/standard/71670.html</div>

        <div style="page-break-before: always;"></div>
        <h3>6.3 Fiche de traitement</h3>
        {% set traitement = object.conformiteTraitement.traitement %}
        <div class="row">
            {#         LEFT#}
            <div class="col-md-6">
                {#             GENERAL INFORMATIONS#}
                <div class="box box-solid box-info">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.general'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.public'|trans }}</strong></td>
                                <td>
                                    {% if traitement.public == true %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.name'|trans }}</strong></td>
                                <td>{{ traitement.name }}</td>
                            </tr>
                            {% if traitement.service %}
                                <tr>
                                    <td><strong>{{ 'registry.treatment.show.service'|trans }}</strong></td>
                                    <td>{{ traitement.service }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.goal'|trans }}</strong></td>
                                <td>{{ traitement.goal|nl2br }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.author'|trans }}</strong></td>
                                <td>{% if traitement.author is not null %}{{ traitement.author|dictionary('registry_treatment_author') }}{% endif %}</td>
                            </tr>
                            {% if traitement.author != "processing_manager" %}
                                <tr>
                                    <td><strong>{{ 'registry.treatment.show.coordonnees_responsable_traitement'|trans }}</strong></td>
                                    <td>{{ traitement.coordonneesResponsableTraitement|nl2br }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.manager'|trans }}</strong></td>
                                <td>{{ traitement.manager }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.active'|trans }}</strong></td>
                                <td>
                                    {% if traitement.active %}
                                        <span class="badge bg-green">{{ 'label.active'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'label.inactive'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.legal_basis'|trans }}</strong></td>
                                <td>{{ traitement.legalBasis|dictionary('registry_treatment_legal_basis') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.legal_basis_justification'|trans }}</strong></td>
                                <td>{{ traitement.legalBasisJustification|nl2br }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.observation'|trans }}</strong></td>
                                <td>{{ traitement.observation|nl2br }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {# DPO Message  #}
                {% if traitement.dpoMessage is not null %}
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.dpo_message'|trans }}</h3>
                        </div>
                        <div class="box-body">
                            {{  traitement.dpoMessage }}
                        </div>
                    </div>
                {% endif %}

                {#             DATA CATEGORY#}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.data_category'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.data_category'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% for category in traitement.dataCategories %}
                                            <li>
                                                {% if category.sensible %}<strong>{% endif %}
                                                    {{ category.name }}
                                                    {% if category.sensible %}</strong>{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.data_category_other'|trans }}</strong></td>
                                <td>{{ traitement.dataCategoryOther|nl2br }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {#             RECIPIENTS#}
                <div class="box box-solid box-primary">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.recipients'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.recipient_category'|trans }}</strong></td>
                                <td>{{ traitement.recipientCategory|nl2br }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.contractors'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% for contractor in traitement.contractors %}
                                            <li>{{ contractor }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {#             SPECIFIC#}
                <div class="box box-solid box-info">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.specific'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.systematic_monitoring'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.systematicMonitoring %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.large_scale_collection'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.largeScaleCollection %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.vulnerable_people'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.vulnerablePeople %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.data_crossing'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.dataCrossing %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.evaluation_or_rating'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.evaluationOrRating %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.automated_decisions_with_legal_effect'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.automatedDecisionsWithLegalEffect %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.automatic_exclusion_service'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.automaticExclusionService %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.innovative_use'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% if traitement.innovativeUse %}
                                            <span class="badge bg-yellow">{{ 'label.yes'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-green">{{ 'label.no'|trans }}</span>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            {#         RIGHT#}
            <div class="col-md-6">
                {#             DETAILS#}
                <div class="box box-solid box-primary">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.details'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.concerned_people'|trans }}</strong></td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_particular'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleParticular.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleParticular.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_user'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleUser.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleUser.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_agent'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleAgent.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleAgent.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_elected'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleElected.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleElected.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_company'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleCompany.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleCompany.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_partner'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeoplePartner.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeoplePartner.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="concerned-people-type"><strong>{{ 'registry.treatment.show.concerned_people_other'|trans }}</strong></td>
                                <td>
                                    {% if traitement.concernedPeopleOther.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.concernedPeopleOther.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.estimated_concerned_people'|trans }}</strong></td>
                                <td>{{ traitement.estimatedConcernedPeople }}</td>
                            </tr>
                            <tr>
                                <td><strong>

                                        {% if traitement.collectivity.hasModuleTools %}
                                            {{ 'registry.treatment.show.tools'|trans }}
                                        {% else %}
                                            {{ 'registry.treatment.show.software'|trans }}
                                        {% endif %}
                                    </strong></td>
                                <td>
                                    {% if traitement.collectivity.hasModuleTools %}
                                        {{ traitement.tools|map(t => t.name)|join(', ') }}
                                    {% else %}
                                        {{ traitement.software }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.paper_processing'|trans }}</strong></td>
                                <td>
                                    {% if traitement.paperProcessing %}
                                        <span class="badge bg-gray">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-gray">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.delay'|trans }}</strong></td>
                                <td>
                                    <ul>
                                        {% for duration in traitement.shelfLifes %}
                                            <li>{{ duration.name }} - {{ duration.duration }} - {{ duration.ultimateFate | dictionary('registry_treatment_ultimate_fate') }} </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.data_origin'|trans }}</strong></td>
                                <td>{{ traitement.dataOrigin }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.collecting_method'|trans }}</strong></td>
                                {# <td>{% if (traitement.collectingMethod is not null) %} #}
                                <td>
                                    {% if (traitement.collectingMethod|length) %}
                                        {{ traitement.collectingMethod|map(p => "#{p|dictionary('registry_treatment_collecting_method')}")|join(', ') }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if  traitement.otherCollectingMethod is not null %}
                                <tr>
                                    <td><strong>{{ 'registry.treatment.show.otherCollectingMethod'|trans }}</strong></td>
                                    <td>{{ traitement.otherCollectingMethod }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>

                {#             SECURITY#}
                <div class="box box-solid box-success">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.security'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_access_control'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securityAccessControl.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.securityAccessControl.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_tracability'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securitytracability.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.securitytracability.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_saving'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securitySaving.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.securitySaving.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_update'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securityUpdate.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.securityUpdate.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_other'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securityOther.check %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                        <p>{{ traitement.securityOther.comment }}</p>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_entitled_persons'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securityEntitledPersons %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_open_accounts'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securityOpenAccounts %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.security_specificities_delivered'|trans }}</strong></td>
                                <td>
                                    {% if traitement.securitySpecificitiesDelivered %}
                                        <span class="badge bg-green">{{ 'label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-yellow">{{ 'label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {#             PROOFS#}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'label.linked_documents'|trans }}</h3></div>
                    <div class="box-body">
                        {% set activeProofs = traitement.proofs|filter(proof => proof.deletedAt is null) -%}

                        {% if activeProofs|length > 0 %}
                            <ul>
                                {% for proof in activeProofs %}
                                    <li>
                                        {{ proof.name }} ({{ proof.type|dictionary('registry_proof_type') }})
                                        {{ proof.comment }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span><i>{{ 'label.no_linked_document'|trans }}</i></span>
                        {% endif %}
                    </div>
                </div>


                {# REQUESTS #}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'label.linked_request'|trans }}</h3></div>
                    <div class="box-body">
                        {% set activeRequests = traitement.requests %}

                        {% if activeRequests|length > 0 %}
                            <ul>
                                {% for request in activeRequests %}
                                    <li>
                                        {{ request.date|date('d/m/Y') }} | {{ request.applicant.lastName }} {{ request.applicant.firstName }} | {{  ("label.request_" ~ request.object)|trans }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span><i>{{ 'label.no_linked_requests'|trans }}</i></span>
                        {% endif %}
                    </div>
                </div>

                {# VIOLATIONS #}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'label.linked_violations'|trans }}</h3></div>
                    <div class="box-body">
                        {% set activeViolations = traitement.violations %}

                        {% if activeViolations|length > 0 %}
                            <ul>
                                {% for violation in activeViolations %}
                                    <li>
                                        {{ violation.date|date('d/m/Y') }} | {{ violation.violationNatures|map(n => ("label.violation_" ~ n)|trans)|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span><i>{{ 'label.no_linked_violations'|trans }}</i></span>
                        {% endif %}
                    </div>
                </div>

                {# Mesurements #}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'label.linked_mesurement'|trans }}</h3></div>
                    <div class="box-body">
                        {% if traitement.mesurements|length > 0 %}
                            <ul>
                                {% for mesurement in traitement.mesurements %}
                                    <li>
                                        {{ mesurement.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span><i>{{ 'label.no_linked_mesurement'|trans }}</i></span>
                        {% endif %}
                    </div>
                </div>

                {% if traitement.collectivity.hasModuleConformiteTraitement %}
                    <div class="box box-solid box-success">
                        <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.conformite'|trans }}</h3></div>
                        <div class="box-body no-padding">
                            <table class="table">
                                <tr>
                                    <td style="width: 35%">
                                        <strong>Conformité</strong>
                                    </td>
                                    <td>
                                        {% if traitement.conformiteTraitement is not null %}
                                            {{ getConformiteTraitementLabel(traitement.conformiteTraitement)|raw }}
                                        {% else %}
                                            <span class="label label-default" style="display: inline-block;">Non-réalisée</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Conformité des questions</strong>
                                    </td>
                                    <td>
                                        {% if traitement.conformiteTraitement is not null %}
                                            {% set nbTotal = traitement.conformiteTraitement.nbConformes + traitement.conformiteTraitement.nbNonConformesMineures + traitement.conformiteTraitement.nbNonConformesMajeures %}
                                            {% set widthNbConforme = ((traitement.conformiteTraitement.nbConformes * 100) / nbTotal)|round %}
                                            {% set widthnbNonConformesMineures = ((traitement.conformiteTraitement.nbNonConformesMineures * 100) / nbTotal)|round %}
                                            {% set widthnbNonConformesMajeures = 100 - (widthNbConforme + widthnbNonConformesMineures) %}
                                            <div class="stacked-bar-graph">
                                                {% if widthNbConforme %}<span style="width:{{ widthNbConforme }}%" class="bar-conforme tooltipchart"><span class="tooltipcharttext">Conforme : {{ traitement.conformiteTraitement.nbConformes }}</span></span>{% endif %}
                                                {% if widthnbNonConformesMineures %}<span style="width:{{ widthnbNonConformesMineures }}%" class="bar-non-conforme-mineure tooltipchart"><span class="tooltipcharttext">Non-conforme mineure : {{ traitement.conformiteTraitement.nbNonConformesMineures }}</span></span>{% endif %}
                                                {% if widthnbNonConformesMajeures %}<span style="width:{{ widthnbNonConformesMajeures }}%" class="bar-non-conforme-majeure tooltipchart"><span class="tooltipcharttext">Non-conforme majeure : {{ traitement.conformiteTraitement.nbNonConformesMajeures }}</span></span>{% endif %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Actions</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if traitement.conformiteTraitement is not null and traitement.conformiteTraitement.lastAnalyseImpact is not null %}
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.last_aipd'|trans }}</h3></div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <td style="width: 35%">
                                            <strong>Avis</strong>
                                        </td>
                                        <td>
                                            {% set analyseImpact = traitement.conformiteTraitement.lastAnalyseImpact %}

                                            {% set labelAipdColor = "label-default" %}
                                            {% if analyseImpact.statut == "defavorable" %}
                                                {% set labelAipdColor = "label-danger" %}
                                            {% elseif analyseImpact.statut == "favorable_avec_reserves" %}
                                                {% set labelAipdColor = "label-warning" %}
                                            {% elseif analyseImpact.statut == "favorable" %}
                                                {% set labelAipdColor = "label-success" %}
                                            {% endif %}
                                            {% set statut = analyseImpact.statut %}
                                            {% set labelStatut = "aipd.analyse_impact.values." ~ traitement.conformiteTraitement.lastAnalyseImpact.statut %}
                                            <span class="label {{ labelAipdColor }}" style="display: inline-block;">
                                        {{ labelStatut|trans}}
                                    </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Date de validation</strong>
                                        </td>
                                        <td>
                                            {% if analyseImpact.isValidated %}
                                                {{ analyseImpact.dateValidation|date('d/m/Y') }}
                                            {% else %}
                                                En cours de validation
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Actions</strong>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {#             HISTORIC#}
                <div class="box box-solid box-default">
                    <div class="box-header with-border"><h3 class="box-title" style="color: white">{{ 'registry.treatment.tab.historic'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            {% if is_granted('ROLE_ADMIN') %}
                                <tr>
                                    <td><strong>{{ 'registry.treatment.show.collectivity'|trans }}</strong></td>
                                    <td>
                                        {{ traitement.collectivity }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.created_at'|trans }}</strong></td>
                                <td>{{ traitement.createdAt|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.updated_at'|trans }}</strong></td>
                                <td>{{ traitement.updatedAt|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.updated_by'|trans }}</strong></td>
                                <td>{{ traitement.updatedBy }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // wkhtmltopdf 0.12.5 crash fix.
    // https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3242#issuecomment-518099192
    'use strict';
    (function(setLineDash) {
        CanvasRenderingContext2D.prototype.setLineDash = function() {
            if(!arguments[0].length){
                arguments[0] = [1,0];
            }
            // Now, call the original method
            return setLineDash.apply(this, arguments);
        };
    })(CanvasRenderingContext2D.prototype.setLineDash);
    Function.prototype.bind = Function.prototype.bind || function (thisp) {
        var fn = this;
        return function () {
            return fn.apply(thisp, arguments);
        };
    };

    function radarChart(id, labels, serieLabel, data, color) {
        var dataset = [];
        data.forEach(function(item, index) {
            dataset.push(
                {
                    label: serieLabel[index],
                    data: item,
                    backgroundColor: color[index],
                }
            );
        });
        new Chart(
            document.getElementById(id), {
                "responsive": false,
                "type":"radar",
                "data":{
                    "labels":labels,
                    "datasets":dataset
                },
                "options":{
                    "scale": {
                        "ticks": {
                            "min": 0,
                            "max": 5,
                        },
                    },
                    "legend": {
                        "display" : false,
                    }
                }
            }
        );
    }

    function stackedBarChart(id, labels, data) {

        new Chart(document.getElementById(id), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: data,
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks : {
                            beginAtZero: false,
                            stepSize: 1,
                            callback: function(label, index, labels) {
                                switch (label) {
                                    case 1:
                                        return 'Négligeable'
                                    case 2:
                                        return 'Limité'
                                    case 3:
                                        return 'Important'
                                    case 4:
                                        return 'Maximal'
                                }
                            }
                        },

                    }],
                    xAxes: [{
                        stacked: true,
                    }],
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                    },
                },
                animation: {
                    duration: 0
                }
            }
        });
    }

    function bubbleChart(id, labels, data) {
        new Chart(document.getElementById(id), {
            type: 'bubble',
            data: {
                datasets: data,
            },
            options: {
                layout: {
                    padding: {
                        left: 50,
                        right: 50,
                        top: 0,
                        bottom: 0
                    }
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            offsetGridLines: true,
                        },
                        ticks : {
                            stepSize: 1,
                            min: 0,
                            max: 4,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Gravité',
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            offsetGridLines: true
                        },
                        ticks : {
                            stepSize: 1,
                            min: 0,
                            max: 4,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Vraisemblance',
                        },
                    }],
                },
                animation: {
                    duration: 0
                }
            }
        });
    }

    var colorBlue = 'rgba(54, 162, 235, 0.5)';
    var colorPurple = 'rgba(153, 51, 204, 0.5)';
    var colorTeal = 'rgba(109, 199, 200, 1)';
    var colorPink = 'rgba(243, 109, 143, 1)';

    var domainesLabels = [];
    var domainesDatas = [];


    {% for critere in object.criterePrincipeFondamentaux %}
        {% if critere.reponse != 'non_applicable' %}
            domainesLabels.push("{{ critere.label|u.truncate(28,'...')|raw|escape('js') }}");
            {% if critere.reponse == 'conforme' %}
                domainesDatas.push(5);
            {% else %}
                domainesDatas.push(1);
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for question in object.questionConformites|sort((a, b) => a.position >= b.position) %}
        {% set reponse = object.conformiteTraitement.reponseOfName(question.question) %}
        {% if reponse and reponse.conforme %}
            domainesDatas.push(5);
        {% elseif reponse and reponse.actionProtections is not empty %}
            domainesDatas.push(3);
        {% else %}
            domainesDatas.push(1);
        {% endif %}
        domainesLabels.push("{{ question.question|u.truncate(28, "...")|raw|escape('js') }}");
    {% endfor %}
    /* The format of the data used by the chart is [[],[]] but here we use only 1 set of data */
    domainesDatas = [domainesDatas];

    var mesuresLabels = ['Disponibilité','Intégrité', 'Confidentialité'];
    var mesuresDatas = [];
    var risquesLabels = [];
    var risquesDataSet1 = [];
    var risquesDataSet2 = [];
    var dicResiduelsData = [];
    var risquesResiduelsLabels = [];

    var dispoGravity = 0;
    var dispoVraisemblance = 0;
    var integrityGravity = 0;
    var integrityVraisemblance = 0;
    var confidentialityGravity = 0;
    var confidentialityVraisemblance = 0;
    var vraisemblance = 0;
    var gravite = 0;

    {% for scenario in object.scenarioMenaces %}
        vraisemblance = {{ getScenarioMenaceIndicateurResiduel(scenario, 'vraisemblance') }}
        gravite = {{ getScenarioMenaceIndicateurResiduel(scenario, 'gravite') }}
        {% if (scenario.isDisponibilite) %}
            dispoGravity = gravite > dispoGravity ? gravite : dispoGravity;
            dispoVraisemblance = vraisemblance > dispoVraisemblance ? vraisemblance : dispoVraisemblance;
            // P(x,y) => si x>0,6 alors x=x-0,5 si y>0,6 alors y=y-0,5
            // https://gitlab.adullact.net/soluris/madis/-/issues/635
            //dispoGravity = dispoGravity > 0.6 ? dispoGravity - 0.5 : dispoGravity
            //dispoVraisemblance = dispoVraisemblance > 0.6 ? dispoVraisemblance - 0.5 : dispoVraisemblance
        {% endif %}
        {% if (scenario.isIntegrite) %}
            integrityGravity = gravite > integrityGravity ? gravite : integrityGravity;
            integrityVraisemblance = vraisemblance > integrityVraisemblance ? vraisemblance : integrityVraisemblance;
            // P(x,y) => si x>0,6 alors x=x-0,5 si y>0,6 alors y=y-0,5
            // https://gitlab.adullact.net/soluris/madis/-/issues/635
            //integrityGravity = integrityGravity > 0.6 ? integrityGravity - 0.5 : integrityGravity
            //integrityVraisemblance = integrityVraisemblance > 0.6 ? integrityVraisemblance - 0.5 : integrityVraisemblance
        {% endif %}
        {% if (scenario.isConfidentialite) %}
            confidentialityGravity = gravite > confidentialityGravity ? gravite : confidentialityGravity;
            confidentialityVraisemblance = vraisemblance > confidentialityVraisemblance ? vraisemblance : confidentialityVraisemblance;

            //confidentialityGravity = confidentialityGravity > 0.6 ? confidentialityGravity - 0.5 : confidentialityGravity
            //confidentialityVraisemblance = confidentialityVraisemblance > 0.6 ? confidentialityVraisemblance - 0.5 : confidentialityVraisemblance
        {% endif %}

        {%  set rr = getScenarioMenaceImpactResiduel(scenario) %}
        {%  set rp = getScenarioMenaceImpactPotentiel(scenario) %}
        risquesDataSet1.push({{ rp-rr }})
        risquesDataSet2.push({{ rr }});
        risquesResiduelsLabels.push("{{ scenario.nom|u.truncate(28, '...') }}");
    {% endfor %}
    dicResiduelsData.push({
        label: "Disponibilité",
        data: [{x: dispoVraisemblance, y: dispoGravity, r: 10}],
        backgroundColor: 'hsl({{ 23 % 360 }}, 100%, 50%)'
    },{
        label: "Intégrité",
        data: [{x: integrityVraisemblance, y: integrityGravity, r: 10}],
        backgroundColor: 'hsl({{ 46 % 360 }}, 100%, 50%)'
    },{
        label: "Confidentialité",
        data: [{x: confidentialityVraisemblance, y: confidentialityGravity, r: 10}],
        backgroundColor: 'hsl({{ 69 % 360 }}, 100%, 50%)'
    });
    {% for mesure in object.mesureProtections %}
        mesuresLabels.push("{{ mesure.nomCourt|raw|escape('js') }}");
        {% if mesure.reponse == 'insatisfaisant' or mesure.reponse is null %}
        mesuresDatas.push(1);
        {% elseif mesure.reponse == 'besoin_amelioration' %}
        mesuresDatas.push(3);
        {% else %}
        mesuresDatas.push(5);
        {% endif %}
    {% endfor %}
    mesuresDatas = [mesuresDatas];
    risquesDataSet1 = {label: "Risque couvert", data: risquesDataSet1, backgroundColor: colorTeal};
    risquesDataSet2 = {label: "Risque résiduel", data: risquesDataSet2, backgroundColor: colorPink};
    var risquesDatas = [risquesDataSet2, risquesDataSet1];

    window.onload = function() {
        radarChart("grandsDomaines-chart", domainesLabels, [''], domainesDatas, [colorBlue]);
        radarChart('mesuresSecurite-chart', mesuresLabels, [''], mesuresDatas, [colorPurple]);
        stackedBarChart("risquesResiduels-chart", risquesResiduelsLabels, risquesDatas);
        bubbleChart('dicResiduels-chart', risquesLabels, dicResiduelsData);
    };

</script>
</body>
</html>
