{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('aipd.modele_analyse.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('aipd.modele_analyse.action.new_submit'|trans) %}
{% endif %}

{% import _self as formMacros %}

{% macro printScenariosMenaces(scenarioMenace) %}
    <tr class="js-table-collection-item">
        {{ form_errors(scenarioMenace) }}
        <td>{{ form_widget(scenarioMenace.nom) }}</td>
        <td style="max-width: 300px" class="mesure-protection">{{ form_widget(scenarioMenace.mesuresProtections) }}</td>
        <td style="max-width: 40px">{{ form_widget(scenarioMenace.isVisible) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isDisponibilite) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isIntegrite) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isConfidentialite) }}</td>
        <td>{{ form_widget(scenarioMenace.vraisemblance) }}</td>
        <td>{{ form_widget(scenarioMenace.gravite) }}</td>
        <td>{{ form_widget(scenarioMenace.precisions) }}</td>
        <td>
            <a aria-label="{{ 'action.delete'|trans }}" href="#" class="js-table-remove-item">
                <i aria-hidden="true" class="fa fa-trash"></i>
                {{ 'action.delete'|trans }}
            </a>
        </td>
    </tr>
{% endmacro %}

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
<style>
    td.mesure-protection .dropdown .dropdown-menu.open {
        min-width: 100px !important;
    }
    td.mesure-protection .dropdown .dropdown-menu.open .dropdown-menu.inner li a span.text {
        max-width: 400px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_errors(form) }}

        {% if flow.getCurrentStepNumber() == 1 %}
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid box-info">
                        <div class="box-header with-border"><h3 class="box-title">Informations générales</h3></div>
                        <div class="box-body">
                            {{ form_row(form.nom) }}
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border"><h3 class="box-title">Personnalisation des labels pour les mesures</h3></div>
                        <div class="box-body">
                            {{ form_row(form.labelAmeliorationPrevue) }}
                            {{ form_row(form.labelInsatisfaisant) }}
                            {{ form_row(form.labelSatisfaisant) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" box box-solid">
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col">Label pour livrable</th>
                            <th scope="col">Réponses</th>
                            <th scope="col">Visible</th>
                            <th scope="col">Texte en cas de conformité</th>
                            <th scope="col">Texte en cas de non-conformité</th>
                            <th scope="col">Texte en cas de non-applicabilité</th>
                            <th scope="col">Justificatif</th>
                            <th scope="col">Joindre un fichier</th>
                        </tr>
                        {% for critere in form.criterePrincipeFondamentaux %}
                            {% include '@templates_path/Aipd/Modele_analyse/_form_criteres.html.twig' with {
                                form: critere,
                            } %}
                        {% endfor %}
                    </table>
                    <div style="display: none">
                        {{ form_row(form.criterePrincipeFondamentaux) }}
                    </div>
                </div>
            </div>
        {% elseif flow.getCurrentStepNumber() == 2 %}
            <div class="box box-body">
                {% include'@templates_path/Aipd/Modele_analyse/_form_question_conformite.html.twig' with {
                    form: form
                } %}
            </div>
        {% elseif flow.getCurrentStepNumber() == 3 %}
            <div class="box box-body">
                <div class="js-table-collection-wrapper"
                    data-prototype="{{ formMacros.printScenariosMenaces(form.scenarioMenaces.vars.prototype)|e('html_attr') }}"
                    data-index="{{ form.scenarioMenaces|length }}"
                >
                    <button class="js-table-collection-add btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i> {{ 'aipd.modele_analyse.form.scenario_menace.add'|trans }}
                    </button>
                    <table id="js-table-collection" class="table table-bordered">
                        <tr>
                            <th scope="col">{{ 'aipd.scenario_menace.list.nom'|trans }}</th>
                            <th scope="col">{{ 'aipd.scenario_menace.list.mesures'|trans }}</th>
                            <th scope="col" style="max-width: 40px">{{ 'aipd.scenario_menace.list.visible'|trans }}</th>
                            <th scope="col" title="{{'aipd.scenario_menace.list.title_d'|trans}}" style="max-width: 30px">D</th>
                            <th scope="col" title="{{'aipd.scenario_menace.list.title_i'|trans}}" style="max-width: 30px">I</th>
                            <th scope="col" title="{{'aipd.scenario_menace.list.title_c'|trans}}" style="max-width: 30px">C</th>
                            <th scope="col">{{ 'aipd.scenario_menace.list.vraisemblance'|trans }}</th>
                            <th scope="col">{{ 'aipd.scenario_menace.list.gravite'|trans }}</th>
                            <th scope="col">{{ 'aipd.scenario_menace.list.precision'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        {% for scenarioMenace in form.scenarioMenaces %}
                            {{ formMacros.printScenariosMenaces(scenarioMenace) }}
                        {% endfor %}
                        {% if form.scenarioMenaces is empty %}
                            {% do form.scenarioMenaces.setRendered() %}
                        {% endif %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a  href="{{ path('aipd_modele_analyse_list') }}" class="btn btn-default">{{ 'action.back_to_list'|trans }}</a>
                    {% include '@templates_path/_Utils/_craue_buttons.html.twig' with {
                        craue_formflow_button_class_last: 'btn btn-primary',
                        craue_formflow_button_class_back: 'btn btn-default',
                        craue_formflow_button_render_reset: false,
                        craue_formflow_button_label_next: 'Suivant',
                        craue_formflow_button_label_back: 'Précédent',
                        craue_formflow_button_label_finish: submitValue,
                    } %}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
