<tr>
    <td>{{ form_widget(form.label) }}</td>
    <td>{{ form_widget(form.labelLivrable) }}</td>
    <td>{{ form_widget(form.reponse) }}</td>
    <td> {{ form_widget(form.isVisible) }}</td>
    <td>{{ form_widget(form.texteConformite) }}</td>
    <td>{{ form_widget(form.texteNonConformite) }}</td>
    <td>{{ form_widget(form.texteNonApplicable) }}</td>
    <td>{{ form_widget(form.justification) }}</td>
    <td>
        {% if form.vars.value and form.vars.value.id and form.vars.value.fichier is defined  and form.vars.value.fichier  %}
            {{ form_widget(form.deleteFile) }}
            <div style="margin-bottom: 1em">
                <a aria-label="Fichier existant" href="/uploads/aipd/critere_principe_fondamentaux/fichier/{{ form.vars.value.fichier }}">
                    Fichier existant
                </a>

                <a aria-label="Supprimer" class="btn btn-danger delete-file btn-sm" style="margin-left: 1em" title="Supprimer ce fichier">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                </a>
            </div>
        {% endif %}
        <span>
            {{ form_widget(form.fichierFile) }}
        </span>
        {{ form_errors(form.fichierFile) }}
    </td>
</tr>
