{% import _self as formMacros %}

{% macro printShelfLife(shelfLife) %}
    <div class="js-collection-item">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title"></div>
                <div class="box-tools pull-right">
                    <button aria-label="Supprimer le délai" title="Supprimer le délai" class="btn btn-box-tool js-remove-item" data-toggle="tooltip">
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {{ form_errors(shelfLife) }}
                {{ form_row(shelfLife.name) }}
                {{ form_row(shelfLife.duration) }}
                {{ form_row(shelfLife.ultimate_fate) }}
            </div>
        </div>
    </div>
{% endmacro %}

<div class="row">
    <div class="col-md-6">
        {# DPO Statut #}
        {% if is_granted('ROLE_REFERENT') or is_granted('ROLE_ADMIN') %}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.statut_dpo'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.statut) }}
                    {{ form_row(form.dpoMessage) }}
                </div>
            </div>
        {% else %}
            {% if object.name %}
                <div class="box box-solid">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.statut_dpo'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>{{ 'registry.treatment.show.statut'|trans }}</strong></td>
                                <td>
                                    {{ object.statut ? object.statut|dictionary('treatment_statut') : '' }}
                                    {{ form_row(form.statut) }}
                                </td>
                            </tr>
                            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and object.dpoMessage is not null) %}
                                <tr>
                                    <td><strong>{{ 'registry.treatment.show.preconization_dpo'|trans }}</strong></td>
                                    <td>{{ object.dpoMessage }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {# GENERAL INFORMATIONS #}
        <div class="box box-solid box-info">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {% if serviceEnabled is defined and serviceEnabled %}
                    {{ form_row(form.service) }}
                {% endif %}
                {{ form_row(form.goal) }}
                <div id="author_group">
                    {{ form_row(form.author) }}
                    {{ form_row(form.coordonneesResponsableTraitement) }}
                </div>
                {{ form_row(form.manager) }}
                {{ form_row(form.active) }}
                {{ form_row(form.legalBasis) }}
                {{ form_row(form.legalBasisJustification) }}
                {{ form_row(form.observation) }}
                {{ form_row(form.public) }}
            </div>
        </div>

        {# DATA CATEGORY #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.data_category'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.dataCategories) }}
                {{ form_row(form.dataCategoryOther) }}
            </div>
        </div>

        {# RECIPIENTS #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.recipients'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.recipientCategory) }}
                {{ form_row(form.contractors) }}
            </div>
        </div>

        {# SPECIFIC #}
        <div class="box box-solid box-info">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.specific'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.exempt_AIPD) }}
                {{ form_row(form.systematicMonitoring) }}
                {{ form_row(form.largeScaleCollection) }}
                {{ form_row(form.vulnerablePeople) }}
                {{ form_row(form.dataCrossing) }}
                {{ form_row(form.evaluationOrRating) }}
                {{ form_row(form.automatedDecisionsWithLegalEffect) }}
                {{ form_row(form.automaticExclusionService) }}
                {{ form_row(form.innovativeUse) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {# DETAILS #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.details'|trans }}</h3></div>
            <div class="box-body">
              <div class="form-group">
                <label class="control-label required">
                  {{ 'registry.treatment.show.concerned_people'|trans }}
                </label>

                {% set concernedPeopleErrorBlock = null %}
                {% for error in form.vars.errors %}
                    {% if error.origin.name == 'concernedPeopleParticular' %}
                        {% set concernedPeopleErrorBlock %}
                            <span class="help-block">
                                <ul class="list-unstyled">
                                    <li>
                                        <i aria-hidden="true" class="fa-solid fa-circle-exclamation"></i> {{ error.message }}
                                    </li>
                                </ul>
                            </span>
                        {% endset %}
                    {% endif %}
                {% endfor %}
                <div class="{% if concernedPeopleErrorBlock is not null %} has-error{% endif %}">
                    {{ form_row(form.concernedPeopleParticular) }}
                    {{ form_row(form.concernedPeopleUser) }}
                    {{ form_row(form.concernedPeopleAgent) }}
                    {{ form_row(form.concernedPeopleElected) }}
                    {{ form_row(form.concernedPeopleCompany) }}
                    {{ form_row(form.concernedPeoplePartner) }}
                    {{ form_row(form.concernedPeopleUsager) }}
                    {{ form_row(form.concernedPeopleOther) }}
                    {% if concernedPeopleErrorBlock is not null %}
                        {{ concernedPeopleErrorBlock }}
                    {% endif %}
                  </div>
                </div>
                {{ form_row(form.estimatedConcernedPeople) }}
                {% if form.tools is defined %}
                {{ form_row(form.tools) }}
                {% else %}
                {{ form_row(form.software) }}
                {% endif %}
                {{ form_row(form.paperProcessing) }}

                <div class="form-group">
                    <label class="control-label">Délai de conservation</label>
                    <div class="js-collection-wrapper"
                         data-prototype="{{ formMacros.printShelfLife(form.shelfLifes.vars.prototype)|e('html_attr') }}"
                         data-index="{{ form.shelfLifes|length }}"
                    >
                        {% do form.shelfLifes.setRendered() %}
                        {% for shelfLife in form.shelfLifes %}
                            {{ formMacros.printShelfLife(shelfLife) }}
                        {% endfor %}
                        <button class="js-collection-add btn btn-default">
                            <i aria-hidden="true" class="fa fa-plus"></i> Ajouter un délai de conservation
                        </button>
                    </div>
                </div>

                {{ form_row(form.dataOrigin) }}
                {{ form_row(form.collectingMethod) }}
                {{ form_row(form.otherCollectingMethod) }}
                {{ form_row(form.legalMentions) }}
                {{ form_row(form.consentRequest) }}
                {{ form_row(form.consentRequestFormat) }}

            </div>
        </div>

        {# SECURITY #}
        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.security'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.securityAccessControl) }}
                {{ form_row(form.securityTracability) }}
                {{ form_row(form.securitySaving) }}
                {{ form_row(form.securityUpdate) }}
                {{ form_row(form.securityOther) }}
                {{ form_row(form.securityEntitledPersons) }}
                {{ form_row(form.securityOpenAccounts) }}
                {{ form_row(form.securitySpecificitiesDelivered) }}
            </div>
        </div>
    </div>

</div>
