{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment list' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.list'|trans }}
        <small>
            {% if app.request.query.get('active') == 'false' %}
                {{ 'label.inactive'|trans }}
            {% else %}
                {{ 'label.active'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar" id="action-top-buttons">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'registry.treatment.action.new'|trans }}" href="{{ path('registry_treatment_create') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                        {{ 'registry.treatment.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a aria-label="{{ 'registry.treatment.action.report'|trans }}" href="{{ path('registry_treatment_report') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                        {{ 'registry.treatment.action.report'|trans }}
                    </a>
                    {% endif %}
                    {% if app.request.query.get('active') == 'false' %}
                        <a aria-label="{{ 'registry.treatment.action.active'|trans }}" href="{{ path('registry_treatment_list', {'active' : 'true'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-list"></i>
                            {{ 'registry.treatment.action.active'|trans }}
                        </a>
                    {% else %}
                        <a aria-label="{{ 'registry.treatment.action.inactive'|trans }}" href="{{ path('registry_treatment_list', {'active' : 'false'}) }}" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-list"></i>
                            {{ 'registry.treatment.action.inactive'|trans }}
                        </a>
                    {% endif %}
                    {% if category and category.documents|length > 0 %}
                    <a aria-label="{{ 'documentation.document.link.button'|trans }}" href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                        <i aria-hidden="true" class="fa fa-circle-info"></i>
                        {{ 'documentation.document.link.button'|trans }}
                    </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body"  style="overflow-x: auto">
                    <div id="custom-buttons" style="float:left">
                        {% if app.request.query.get('active') != 'false' %}
                        <a aria-label="Imprimer" id="print-all"  href="{{ path('registry_treatment_print_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Imprimer
                        </a>
                        <a aria-label="Désactiver" id="archive-all"  href="{{ path('registry_treatment_archive_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Désactiver
                        </a>
                        {% endif %}
                        <a aria-label="Supprimer" id="delete-all"  href="{{ path('registry_treatment_delete_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            Supprimer
                        </a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width:20px" scope="col"></th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                            <th scope="col">
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                            </th>
                            {% endif %}
                            <th scope="col">
                                <select class="form-control" id="search_statut" placeholder="{{ 'registry.treatment.list.update'|trans }}" style="width: 100%;">
                                    <option value="">{{ 'registry.treatment.list.statut'|trans }}</option>
                                    <option value="draft">Brouillon</option>
                                    <option value="finished">Terminé</option>
                                    <option value="checked">Contrôlé</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_base_legal" style="width: 100%;">
                                    <option value="">Base légale</option>
                                    {% for key, subject in dictionary('registry_treatment_legal_basis') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_logiciel" placeholder="Logiciel" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_en_tant_que" style="width: 100%;">
                                    <option value="">En tant que</option>
                                    {% for key, subject in dictionary('registry_treatment_author') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_gestionnaire" placeholder="Gestionnaire" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_sous_traitants" placeholder="Sous-traitants" style="width: 100%;">
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_sensitive_data" style="width: 100%;">
                                    <option value="">Données sensibles</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>

                            <th scope="col">
                                <select class="form-control" id="search_controle_acces" style="width: 100%;">
                                    <option value="">Contrôle d'accès</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_tracabilite" style="width: 100%;">
                                    <option value="">Traçabilité</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_sauvegarde" style="width: 100%;">
                                    <option value="">Sauvegarde</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_autres" style="width: 100%;">
                                    <option value="">Autres</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>

                            <th scope="col">
                                <select class="form-control" id="search_capacite" style="width: 100%;">
                                    <option value="">Ressortir les personnes habilitées</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>

                            <th scope="col">
                                <select class="form-control" id="search_procedure" style="width: 100%;">
                                    <option value="">Procédure</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>

                            <th scope="col">
                                <select class="form-control" id="search_specificites" style="width: 100%;">
                                    <option value="">Spécificités</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>

                            <th scope="col">
                                <select class="form-control" id="search_public" placeholder="{{ 'registry.treatment.list.public'|trans }}" style="width: 100%;">
                                    <option value="">{{ 'registry.treatment.list.public'|trans }}</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select class="form-control" id="search_update" placeholder="{{ 'registry.treatment.list.update'|trans }}" style="width: 100%;">
                                    <option value="">{{ 'registry.treatment.list.update'|trans }}</option>
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </th>
                            <th scope="col">
                                <input class="form-control" type="text" id="search_responsable_traitement" placeholder="Responsable traitement" style="width: 100%;">
                            </th>
                            <th scope="col"></th>   <!-- Traitement spécifique -->
                            <th scope="col"></th> <!-- Conformité Traitement -->
                            <th scope="col"></th> <!--Avis AIPD -->
                            <th scope="col"></th> <!--exempt AIPD -->


                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style="width:20px"><input type="checkbox" name="select_all" value="1" id="select-all-treatments"></th>
                            <th scope="col">{{ 'registry.treatment.list.name'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                            <th scope="col">{{ 'registry.treatment.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.statut'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.legal_basis'|trans }}</th>
                            <th scope="col">{% if app.user.collectivity.hasModuleTools %}{{ 'registry.treatment.show.tools'|trans }}{% else %}{{ 'registry.treatment.list.software'|trans }}{% endif %}</th>
                            <th scope="col">{{ 'registry.treatment.list.author'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.manager'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.contractors'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.sensitive_data'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.access_control'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.tracability'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.saving'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.other'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.entitled_persons'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.open_accounts'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.specificities_delivered'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.public'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.update'|trans }}</th>

                            <th scope="col">{{ 'registry.treatment.list.responsable_traitement'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.specific_traitement'|trans }}</th>
                            <th scope="col">{{ 'registry.treatment.list.conformite_traitement'|trans }}</th>
                            <th scope="col">Avis AIPD </th>
                            <th scope="col">Exempt d'AIPD </th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.created_at'|trans }}</th>
                            <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.updated_at'|trans }}</th>

                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>


    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = true %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if not is_granted('ROLE_USER') %}
        {% set actionIsVisible = false %}
    {% endif %}

    {% set cols = [
        {"data": "id", "className": "noVis isId"},
        {"data": "nom", "className": "noVis"},
        {"data": "statut", "visible": true},
        {"data": "baseLegal", "visible": true},
        {"data": "logiciel", "visible": true},
        {"data": "enTantQue", "visible": false},
        {"data": "gestionnaire", "visible": true},
        {"data": "sousTraitant", "visible": false, "orderable": false},
        {"data": "sensitiveData", "visible": true},
        {"data": "controleAcces", "visible": false},
        {"data": "tracabilite", "visible": false},
        {"data": "saving", "visible": true},
        {"data": "other", "visible": false},
        {"data": "entitledPersons", "visible": false},
        {"data": "openAccounts", "visible": false},
        {"data": "specificitiesDelivered", "visible": false},
        {"data": "public", "visible": false, "orderable": false},
        {"data": "update", "visible": true},
        {"data": "responsableTraitement", "visible": false},
        {"data": "specific_traitement", "render": "[, ]","visible": true, "orderable": false},
        {"data": "conformite_traitement","visible": false, "orderable": false},
        {"data": "avis_aipd","visible": false, "orderable": false},
        {"data": "exempt_AIPD","visible": false, "orderable": false},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis actions", "visible": actionIsVisible, "orderable": false},
    ] %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "id", "className": "noVis isId"},
            {"data": "nom", "className": "noVis"},
            {"data" : "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "statut", "visible": true},
            {"data": "baseLegal", "visible": true},
            {"data": "logiciel", "visible": true},
            {"data": "enTantQue", "visible": false},
            {"data": "gestionnaire", "visible": true},
            {"data": "sousTraitant", "visible": false, "orderable": false},
            {"data": "sensitiveData", "visible": true},
            {"data": "controleAcces", "visible": false},
            {"data": "tracabilite", "visible": false},
            {"data": "saving", "visible": true},
            {"data": "other", "visible": false},
            {"data": "entitledPersons", "visible": false},
            {"data": "openAccounts", "visible": false},
            {"data": "specificitiesDelivered", "visible": false},
            {"data": "public", "visible": false, "orderable": false},
            {"data": "update", "visible": true},
            {"data": "responsableTraitement", "visible": false},
            {"data": "specific_traitement", "render": "[, ]","visible": true, "orderable": false},
            {"data": "conformite_traitement","visible": false, "orderable": false},
            {"data": "avis_aipd","visible": false, "orderable": false},
            {"data": "exempt_AIPD","visible": false, "orderable": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis actions", "visible": actionIsVisible, "orderable": false},
        ] %}
    {% endif %}


    {% set dataTableOptions = {
        columns: cols,
        excludeId : true,
        order:  [
            [1, 'asc' ]
        ],
        'addcheckbox': true,
    } %}


    <script>
        function cbColRenderFunction (data, type, full, meta){
            return '<input class="select-line" type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">'
        }
    </script>

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        $(document).ready(function () {
            const exportButton = $('.dt-buttons .dt-button.buttons-excel.buttons-html5');
            //
            // exportButton.remove();
            exportButton.html('<i aria-hidden="true" class="fa fa-download"></i> Exporter')
            exportButton.addClass('btn')
            exportButton.addClass('btn-default')
            exportButton.removeClass('dt-button')
            //
            $('#action-top-buttons').append(exportButton);

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em") );

        })
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });


            $('#delete-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                //let data = oTable.rows({ selected: true }).ids(); // .toArray()
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#delete-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })
            $('#archive-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#archive-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })

            $('#print-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#print-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })

            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            {% if is_granted('ROLE_REFERENT') %}
            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));
            {% endif %}

            $('#search_statut').off('change');
            $('#search_statut').change(function(){
                oTable.column(col + 2).search($(this).val()).draw();
            });

            $('#search_base_legal').off('change');
            $('#search_base_legal').change(function(){
                oTable.column(col + 3).search($(this).val()).draw() ;
            });

            $('#search_logiciel').off('keyup');
            $('#search_logiciel').keyup($.debounce(250, function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            }));

            $('#search_en_tant_que').off('change');
            $('#search_en_tant_que').change(function(){
                oTable.column(col + 5).search($(this).val()).draw() ;
            });

            $('#search_gestionnaire').off('keyup');
            $('#search_gestionnaire').keyup($.debounce(250, function(){
                oTable.column(col + 6).search($(this).val()).draw() ;
            }));

            $('#search_sous_traitants').off('keyup');
            $('#search_sous_traitants').keyup($.debounce(250, function(){
                oTable.column(col + 7).search($(this).val()).draw() ;
            }));

            $('#search_sensitive_data').off('change');
            $('#search_sensitive_data').change(function(){
                oTable.column(col + 8).search($(this).val()).draw() ;
            });


            $('#search_controle_acces').off('change');
            $('#search_controle_acces').change(function(){
                oTable.column(col + 9).search($(this).val()).draw() ;
            });

            $('#search_tracabilite').off('change');
            $('#search_tracabilite').change(function(){
                oTable.column(col + 10).search($(this).val()).draw() ;
            });

            $('#search_sauvegarde').off('change');
            $('#search_sauvegarde').change(function(){
                oTable.column(col + 11).search($(this).val()).draw() ;
            });


            $('#search_autres').off('change');
            $('#search_autres').change(function(){
                oTable.column(col + 12).search($(this).val()).draw() ;
            });

            $('#search_capacite').off('change');
            $('#search_capacite').change(function(){
                oTable.column(col + 13).search($(this).val()).draw() ;
            });

            $('#search_procedure').off('change');
            $('#search_procedure').change(function(){
                oTable.column(col + 14).search($(this).val()).draw() ;
            });

            $('#search_specificites').off('change');
            $('#search_specificites').change(function(){
                oTable.column(col + 15).search($(this).val()).draw() ;
            });

            $('#search_public').off('change');
            $('#search_public').change(function(){
                oTable.column(col + 16).search($(this).val()).draw() ;
            });

            $('#search_update').off('change');
            $('#search_update').change(function(){
                oTable.column(col + 17).search($(this).val()).draw() ;
            });
            $('#search_responsable_traitement').off('keyup');
            $('#search_responsable_traitement').keyup($.debounce(250, function(){
                oTable.column(col + 18).search($(this).val()).draw() ;
            }));

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 23).search($(this).val()).draw();
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 24).search($(this).val()).draw();
            });

            // Handle click on "Select all" control
            $('#select-all-treatments').on('click', function(){
                // Get all rows with search applied
                var rows = oTable.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#table tbody').on('change', 'input[type="checkbox"]', function(){
                // If checkbox is not checked
                if(!this.checked){
                    var el = $('#select-all-treatments').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if(el && el.checked && ('indeterminate' in el)){
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>
{% endblock %}
